<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="__FDmQOAFEeqCs-vUBETekw" specification="@CycleBased(500)&#xA;//@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;internal:&#xA;const IBIT0 : integer = 0x1&#xA;const IBIT1 : integer = 0x2&#xA;const IPRIO0 : integer = 1 // IRQ1 priority&#xA;const IPRIO1 : integer = 2 // IRQ2 priority&#xA;&#xA;var curr_prio : integer = 0&#xA;var prev_prio : integer = 0&#xA;var stack_size : integer = 0&#xA;&#xA;event IRQ0&#xA;event IRQ1&#xA;event ret_from_int&#xA;&#xA;interface cpu:&#xA;var EN : integer = 0x0     // int enable reg&#xA;var PEND: integer = 0x0 // int pending reg&#xA;" name="conv_ints">
    <regions xmi:id="__FcAw-AFEeqCs-vUBETekw" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_INua8OAGEeqCs-vUBETekw" specification="IRQ0 / cpu.PEND |= IBIT0&#xD;&#xA;IRQ1 / cpu.PEND |= IBIT1" name="CPU" incomingTransitions="_TvmisOAGEeqCs-vUBETekw">
        <regions xmi:id="_IzE_4OPZEeq10LUcGG1ykA" name="CPU state">
          <vertices xsi:type="sgraph:State" xmi:id="_Oo91MOPZEeq10LUcGG1ykA" name="Running" incomingTransitions="_Zu8rIOPZEeq10LUcGG1ykA _AwRxoOPaEeq10LUcGG1ykA _n9gmIOPaEeq10LUcGG1ykA">
            <outgoingTransitions xmi:id="_pD2_oOPZEeq10LUcGG1ykA" specification="[((cpu.EN &amp; IBIT1) == IBIT1) &amp;&amp; ((cpu.PEND &amp; IBIT1) == IBIT1) &amp;&amp;&#xD;&#xA;(curr_prio &lt; IPRIO1)] / prev_prio = curr_prio; curr_prio = IPRIO1" target="_R6FnsOPZEeq10LUcGG1ykA"/>
            <outgoingTransitions xmi:id="_flPwIOPZEeq10LUcGG1ykA" specification="[((cpu.EN &amp; IBIT0) == IBIT0) &amp;&amp; ((cpu.PEND &amp; IBIT0) == IBIT0) &amp;&amp;&#xD;&#xA;(curr_prio &lt; IPRIO0)] / prev_prio = curr_prio; curr_prio = IPRIO0" target="_R6FnsOPZEeq10LUcGG1ykA"/>
            <outgoingTransitions xmi:id="_T3y1EOPaEeq10LUcGG1ykA" specification="ret_from_int" target="_SgT6MOPZEeq10LUcGG1ykA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_R6FnsOPZEeq10LUcGG1ykA" specification="entry / stack_size++" name="Saving PC" incomingTransitions="_flPwIOPZEeq10LUcGG1ykA _pD2_oOPZEeq10LUcGG1ykA">
            <outgoingTransitions xmi:id="_AwRxoOPaEeq10LUcGG1ykA" specification="oncycle" target="_Oo91MOPZEeq10LUcGG1ykA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_SgT6MOPZEeq10LUcGG1ykA" specification="entry / stack_size--" name="Restoring PC" incomingTransitions="_T3y1EOPaEeq10LUcGG1ykA">
            <outgoingTransitions xmi:id="_n9gmIOPaEeq10LUcGG1ykA" specification="oncycle" target="_Oo91MOPZEeq10LUcGG1ykA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_ZR9NIOPZEeq10LUcGG1ykA">
            <outgoingTransitions xmi:id="_Zu8rIOPZEeq10LUcGG1ykA" specification="" target="_Oo91MOPZEeq10LUcGG1ykA"/>
          </vertices>
        </regions>
        <regions xmi:id="_u7QekOPeEeq10LUcGG1ykA" name="IRQ0 state">
          <vertices xsi:type="sgraph:State" xmi:id="_xnYtoOPeEeq10LUcGG1ykA" name="Inactive" incomingTransitions="_xnai0ePeEeq10LUcGG1ykA _xnZU5ePeEeq10LUcGG1ykA">
            <outgoingTransitions xmi:id="_xnYto-PeEeq10LUcGG1ykA" specification="[curr_prio == IPRIO0]" target="_xnZUsOPeEeq10LUcGG1ykA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_xnZUsOPeEeq10LUcGG1ykA" specification="entry / cpu.PEND &amp;= ~IBIT0&#xD;&#xA;entry / stack_size += 4&#xD;&#xA;exit / stack_size -= 4" name="Active" incomingTransitions="_xnYto-PeEeq10LUcGG1ykA">
            <outgoingTransitions xmi:id="_xnZU5ePeEeq10LUcGG1ykA" specification="ret_from_int [curr_prio == IPRIO0]&#xD;&#xA;/ curr_prio = prev_prio; prev_prio = 0" target="_xnYtoOPeEeq10LUcGG1ykA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_xnai0OPeEeq10LUcGG1ykA">
            <outgoingTransitions xmi:id="_xnai0ePeEeq10LUcGG1ykA" target="_xnYtoOPeEeq10LUcGG1ykA"/>
          </vertices>
        </regions>
        <regions xmi:id="_2VbKEOPeEeq10LUcGG1ykA" name="IRQ1 state">
          <vertices xsi:type="sgraph:State" xmi:id="_386FVuPeEeq10LUcGG1ykA" name="Inactive" incomingTransitions="_386slePeEeq10LUcGG1ykA _386shOPeEeq10LUcGG1ykA">
            <outgoingTransitions xmi:id="_386FWePeEeq10LUcGG1ykA" specification="[curr_prio == IPRIO1]" target="_386FX-PeEeq10LUcGG1ykA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_386FX-PeEeq10LUcGG1ykA" specification="entry / cpu.PEND &amp;= ~IBIT1&#xD;&#xA;entry / stack_size += 4&#xD;&#xA;exit / stack_size -= 4" name="Active" incomingTransitions="_386FWePeEeq10LUcGG1ykA">
            <outgoingTransitions xmi:id="_386shOPeEeq10LUcGG1ykA" specification="ret_from_int [curr_prio == IPRIO1]&#xD;&#xA;/ curr_prio = prev_prio; prev_prio = 0" target="_386FVuPeEeq10LUcGG1ykA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_386slOPeEeq10LUcGG1ykA">
            <outgoingTransitions xmi:id="_386slePeEeq10LUcGG1ykA" specification="" target="_386FVuPeEeq10LUcGG1ykA"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_TJngwOAGEeqCs-vUBETekw">
        <outgoingTransitions xmi:id="_TvmisOAGEeqCs-vUBETekw" specification="" target="_INua8OAGEeqCs-vUBETekw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="__FcAwOAFEeqCs-vUBETekw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="__FDmQOAFEeqCs-vUBETekw" measurementUnit="Pixel">
    <children xmi:id="__FdO4OAFEeqCs-vUBETekw" type="Region" element="__FcAw-AFEeqCs-vUBETekw">
      <children xsi:type="notation:DecorationNode" xmi:id="__Fd18OAFEeqCs-vUBETekw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__Fd18eAFEeqCs-vUBETekw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__Fd18uAFEeqCs-vUBETekw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="__FedAOAFEeqCs-vUBETekw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_INvCAeAGEeqCs-vUBETekw" type="State" element="_INua8OAGEeqCs-vUBETekw">
          <children xsi:type="notation:DecorationNode" xmi:id="_INvpEOAGEeqCs-vUBETekw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_INvpEeAGEeqCs-vUBETekw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_INvpEuAGEeqCs-vUBETekw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_INvpE-AGEeqCs-vUBETekw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_INvpFOAGEeqCs-vUBETekw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_INvpFeAGEeqCs-vUBETekw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_INvpFuAGEeqCs-vUBETekw" type="StateFigureCompartment">
            <children xmi:id="_1YF_IOPeEeq10LUcGG1ykA" type="Region" element="_IzE_4OPZEeq10LUcGG1ykA">
              <children xsi:type="notation:DecorationNode" xmi:id="_1YF_IePeEeq10LUcGG1ykA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_1YF_IuPeEeq10LUcGG1ykA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_1YF_I-PeEeq10LUcGG1ykA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_1YF_JOPeEeq10LUcGG1ykA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_1YF_JePeEeq10LUcGG1ykA" type="State" element="_Oo91MOPZEeq10LUcGG1ykA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_1YF_JuPeEeq10LUcGG1ykA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_1YF_J-PeEeq10LUcGG1ykA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_1YF_KOPeEeq10LUcGG1ykA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1YF_KePeEeq10LUcGG1ykA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_1YF_KuPeEeq10LUcGG1ykA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YF_K-PeEeq10LUcGG1ykA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1YF_LOPeEeq10LUcGG1ykA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_1YF_LePeEeq10LUcGG1ykA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_1YF_LuPeEeq10LUcGG1ykA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1YF_L-PeEeq10LUcGG1ykA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YF_MOPeEeq10LUcGG1ykA" x="71" y="-16" width="74" height="195"/>
                </children>
                <children xmi:id="_1YF_MePeEeq10LUcGG1ykA" type="State" element="_R6FnsOPZEeq10LUcGG1ykA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_1YF_MuPeEeq10LUcGG1ykA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_1YF_M-PeEeq10LUcGG1ykA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_1YF_NOPeEeq10LUcGG1ykA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1YF_NePeEeq10LUcGG1ykA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_1YF_NuPeEeq10LUcGG1ykA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YF_N-PeEeq10LUcGG1ykA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1YF_OOPeEeq10LUcGG1ykA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_1YF_OePeEeq10LUcGG1ykA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_1YF_OuPeEeq10LUcGG1ykA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1YF_O-PeEeq10LUcGG1ykA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YF_POPeEeq10LUcGG1ykA" x="631" y="-16" width="163" height="76"/>
                </children>
                <children xmi:id="_1YF_PePeEeq10LUcGG1ykA" type="State" element="_SgT6MOPZEeq10LUcGG1ykA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_1YF_PuPeEeq10LUcGG1ykA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_1YF_P-PeEeq10LUcGG1ykA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_1YF_QOPeEeq10LUcGG1ykA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1YF_QePeEeq10LUcGG1ykA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_1YF_QuPeEeq10LUcGG1ykA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YF_Q-PeEeq10LUcGG1ykA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1YF_ROPeEeq10LUcGG1ykA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_1YF_RePeEeq10LUcGG1ykA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_1YF_RuPeEeq10LUcGG1ykA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1YF_R-PeEeq10LUcGG1ykA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YF_SOPeEeq10LUcGG1ykA" x="635" y="105" width="155" height="74"/>
                </children>
                <children xmi:id="_1YF_SePeEeq10LUcGG1ykA" type="Entry" element="_ZR9NIOPZEeq10LUcGG1ykA">
                  <children xmi:id="_1YF_SuPeEeq10LUcGG1ykA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_1YF_S-PeEeq10LUcGG1ykA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_1YF_TOPeEeq10LUcGG1ykA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_1YF_TePeEeq10LUcGG1ykA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_1YF_TuPeEeq10LUcGG1ykA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YF_T-PeEeq10LUcGG1ykA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_1YF_UOPeEeq10LUcGG1ykA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_1YF_UePeEeq10LUcGG1ykA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YF_UuPeEeq10LUcGG1ykA" x="13" y="71"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YF_U-PeEeq10LUcGG1ykA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_1YF_VOPeEeq10LUcGG1ykA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YF_VePeEeq10LUcGG1ykA"/>
            </children>
            <children xmi:id="_enZZEOPfEeq10LUcGG1ykA" type="Region" element="_u7QekOPeEeq10LUcGG1ykA">
              <children xsi:type="notation:DecorationNode" xmi:id="_enZZEePfEeq10LUcGG1ykA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_enZZEuPfEeq10LUcGG1ykA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_enZZE-PfEeq10LUcGG1ykA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_enZZFOPfEeq10LUcGG1ykA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_enZZFePfEeq10LUcGG1ykA" type="State" element="_xnYtoOPeEeq10LUcGG1ykA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_enZZFuPfEeq10LUcGG1ykA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_enZZF-PfEeq10LUcGG1ykA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_enZZGOPfEeq10LUcGG1ykA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_enZZGePfEeq10LUcGG1ykA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_enZZGuPfEeq10LUcGG1ykA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enZZG-PfEeq10LUcGG1ykA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_enZZHOPfEeq10LUcGG1ykA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_enZZHePfEeq10LUcGG1ykA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_enZZHuPfEeq10LUcGG1ykA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_enZZH-PfEeq10LUcGG1ykA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enZZIOPfEeq10LUcGG1ykA" x="69" y="-13" width="74" height="91"/>
                </children>
                <children xmi:id="_enZZIePfEeq10LUcGG1ykA" type="State" element="_xnZUsOPeEeq10LUcGG1ykA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_enZZIuPfEeq10LUcGG1ykA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_enZZI-PfEeq10LUcGG1ykA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_enZZJOPfEeq10LUcGG1ykA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_enZZJePfEeq10LUcGG1ykA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_enZZJuPfEeq10LUcGG1ykA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enZZJ-PfEeq10LUcGG1ykA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_enZZKOPfEeq10LUcGG1ykA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_enZZKePfEeq10LUcGG1ykA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_enZZKuPfEeq10LUcGG1ykA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_enZZK-PfEeq10LUcGG1ykA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enZZLOPfEeq10LUcGG1ykA" x="585" y="-14" width="208" height="93"/>
                </children>
                <children xmi:id="_enZZLePfEeq10LUcGG1ykA" type="Entry" element="_xnai0OPeEeq10LUcGG1ykA">
                  <children xmi:id="_enZZLuPfEeq10LUcGG1ykA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_enZZL-PfEeq10LUcGG1ykA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_enZZMOPfEeq10LUcGG1ykA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_enZZMePfEeq10LUcGG1ykA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_enZZMuPfEeq10LUcGG1ykA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enZZM-PfEeq10LUcGG1ykA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_enZZNOPfEeq10LUcGG1ykA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_enZZNePfEeq10LUcGG1ykA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enZZNuPfEeq10LUcGG1ykA" x="15" y="22" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enZZN-PfEeq10LUcGG1ykA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_enZZOOPfEeq10LUcGG1ykA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enZZOePfEeq10LUcGG1ykA"/>
            </children>
            <children xmi:id="_4ZQqEOPeEeq10LUcGG1ykA" type="Region" element="_2VbKEOPeEeq10LUcGG1ykA">
              <children xsi:type="notation:DecorationNode" xmi:id="_4ZQqEePeEeq10LUcGG1ykA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_4ZQqEuPeEeq10LUcGG1ykA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_4ZQqE-PeEeq10LUcGG1ykA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_4ZQqFOPeEeq10LUcGG1ykA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_4ZQqFePeEeq10LUcGG1ykA" type="State" element="_386FVuPeEeq10LUcGG1ykA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_4ZQqFuPeEeq10LUcGG1ykA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_4ZQqF-PeEeq10LUcGG1ykA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_4ZQqGOPeEeq10LUcGG1ykA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_4ZQqGePeEeq10LUcGG1ykA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_4ZQqGuPeEeq10LUcGG1ykA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4ZQqG-PeEeq10LUcGG1ykA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_4ZQqHOPeEeq10LUcGG1ykA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_4ZQqHePeEeq10LUcGG1ykA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_4ZQqHuPeEeq10LUcGG1ykA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4ZQqH-PeEeq10LUcGG1ykA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4ZQqIOPeEeq10LUcGG1ykA" x="69" y="2" width="74" height="91"/>
                </children>
                <children xmi:id="_4ZQqIePeEeq10LUcGG1ykA" type="State" element="_386FX-PeEeq10LUcGG1ykA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_4ZQqIuPeEeq10LUcGG1ykA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_4ZQqI-PeEeq10LUcGG1ykA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_4ZQqJOPeEeq10LUcGG1ykA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_4ZQqJePeEeq10LUcGG1ykA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_4ZQqJuPeEeq10LUcGG1ykA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4ZQqJ-PeEeq10LUcGG1ykA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_4ZQqKOPeEeq10LUcGG1ykA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_4ZQqKePeEeq10LUcGG1ykA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_4ZQqKuPeEeq10LUcGG1ykA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4ZQqK-PeEeq10LUcGG1ykA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4ZQqLOPeEeq10LUcGG1ykA" x="585" y="1" width="208" height="93"/>
                </children>
                <children xmi:id="_4ZQqLePeEeq10LUcGG1ykA" type="Entry" element="_386slOPeEeq10LUcGG1ykA">
                  <children xmi:id="_4ZQqLuPeEeq10LUcGG1ykA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_4ZQqL-PeEeq10LUcGG1ykA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_4ZQqMOPeEeq10LUcGG1ykA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_4ZQqMePeEeq10LUcGG1ykA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_4ZQqMuPeEeq10LUcGG1ykA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4ZQqM-PeEeq10LUcGG1ykA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_4ZQqNOPeEeq10LUcGG1ykA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_4ZQqNePeEeq10LUcGG1ykA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4ZQqNuPeEeq10LUcGG1ykA" x="15" y="37" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4ZQqN-PeEeq10LUcGG1ykA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_4ZQqOOPeEeq10LUcGG1ykA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4ZQqOePeEeq10LUcGG1ykA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_INvCAuAGEeqCs-vUBETekw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_INvCA-AGEeqCs-vUBETekw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_INvpF-AGEeqCs-vUBETekw" name="isHorizontal"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_INvCBOAGEeqCs-vUBETekw" x="21" y="2" width="834" height="562"/>
        </children>
        <children xmi:id="_TJoH0OAGEeqCs-vUBETekw" type="Entry" element="_TJngwOAGEeqCs-vUBETekw">
          <children xmi:id="_TJoH1OAGEeqCs-vUBETekw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_TJou4OAGEeqCs-vUBETekw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_TJou4eAGEeqCs-vUBETekw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_TJou4uAGEeqCs-vUBETekw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_TJoH1eAGEeqCs-vUBETekw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TJoH1uAGEeqCs-vUBETekw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_TJoH0eAGEeqCs-vUBETekw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_TJoH0uAGEeqCs-vUBETekw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TJoH0-AGEeqCs-vUBETekw" x="428" y="-32" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="__FedAeAFEeqCs-vUBETekw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="__FdO4eAFEeqCs-vUBETekw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__FedAuAFEeqCs-vUBETekw" x="4" y="-42" width="891" height="649"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="__Fg5Q-AFEeqCs-vUBETekw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="__Fg5ReAFEeqCs-vUBETekw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__Fg5RuAFEeqCs-vUBETekw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__Fg5R-AFEeqCs-vUBETekw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="__Fg5SOAFEeqCs-vUBETekw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="__Fg5SeAFEeqCs-vUBETekw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__FhgUOAFEeqCs-vUBETekw" x="10" y="10" width="200" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_3lI_AOB8EeqCs-vUBETekw" type="Note" fontName="Verdana" description="Saving the PC in the stack is simulated by &quot;stack_size++&quot; (hardware)&#xD;&#xA;Restoring the PC from the stack is simulated by &quot;stack_size--&quot; (hardware)&#xD;&#xA;When running ISR code:&#xD;&#xA;PEND bit clear may be performed by hardware or software&#xD;&#xA;Saving context registers in the stack is simulated by &quot;stack_size += 4&quot; (software) when entering Active&#xD;&#xA;Restoring context registers from the stack is simulated by &quot;stack_size -= 4&quot; (software) when exiting Active" fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
      <children xsi:type="notation:BasicDecorationNode" xmi:id="_3lJmE-B8EeqCs-vUBETekw" type="DiagramName">
        <element xsi:nil="true"/>
      </children>
      <children xsi:type="notation:BasicDecorationNode" xmi:id="_3lJmFOB8EeqCs-vUBETekw" type="Description">
        <element xsi:nil="true"/>
      </children>
      <styles xsi:type="notation:TextStyle" xmi:id="_3lJmEOB8EeqCs-vUBETekw"/>
      <styles xsi:type="notation:LineTypeStyle" xmi:id="_3lJmEeB8EeqCs-vUBETekw"/>
      <element xsi:nil="true"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3lJmEuB8EeqCs-vUBETekw" x="4" y="612" width="825" height="121"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_h8n9kOPhEeq10LUcGG1ykA" type="Note" fontName="Verdana" description="Region and transition execution priorities matter in this model!&#xD;&#xA;They are tightly coupled with the (fixed) interrupt priorities being modeled." fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
      <children xsi:type="notation:BasicDecorationNode" xmi:id="_h8okoOPhEeq10LUcGG1ykA" type="DiagramName">
        <element xsi:nil="true"/>
      </children>
      <children xsi:type="notation:BasicDecorationNode" xmi:id="_h8okoePhEeq10LUcGG1ykA" type="Description">
        <element xsi:nil="true"/>
      </children>
      <styles xsi:type="notation:TextStyle" xmi:id="_h8n9kePhEeq10LUcGG1ykA"/>
      <styles xsi:type="notation:LineTypeStyle" xmi:id="_h8n9kuPhEeq10LUcGG1ykA"/>
      <element xsi:nil="true"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_h8n9k-PhEeq10LUcGG1ykA" x="3" y="740" height="53"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="__FcAweAFEeqCs-vUBETekw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="__FcAwuAFEeqCs-vUBETekw"/>
    <edges xmi:id="_TvnJwOAGEeqCs-vUBETekw" type="Transition" element="_TvmisOAGEeqCs-vUBETekw" source="_TJoH0OAGEeqCs-vUBETekw" target="_INvCAeAGEeqCs-vUBETekw">
      <children xsi:type="notation:DecorationNode" xmi:id="_TvnJxOAGEeqCs-vUBETekw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Tvnw0OAGEeqCs-vUBETekw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Tvnw0eAGEeqCs-vUBETekw"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TvnJweAGEeqCs-vUBETekw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TvnJw-AGEeqCs-vUBETekw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TvnJwuAGEeqCs-vUBETekw" points="[0, 7, 293, -39]$[0, 41, 293, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nRl4AOB8EeqCs-vUBETekw" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TvoX4OAGEeqCs-vUBETekw" id="(0.1467972206474672,0.010730723587356663)"/>
    </edges>
    <edges xmi:id="_Zu95QOPZEeq10LUcGG1ykA" type="Transition" element="_Zu8rIOPZEeq10LUcGG1ykA" source="_1YF_SePeEeq10LUcGG1ykA" target="_1YF_JePeEeq10LUcGG1ykA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Zu95ROPZEeq10LUcGG1ykA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Zu95RePZEeq10LUcGG1ykA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Zu95RuPZEeq10LUcGG1ykA"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Zu95QePZEeq10LUcGG1ykA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Zu95Q-PZEeq10LUcGG1ykA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Zu95QuPZEeq10LUcGG1ykA" points="[2, 1, -48, 31]$[46, 1, -4, 31]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Zu_ucOPZEeq10LUcGG1ykA" id="(0.8,0.4)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Zu_ucePZEeq10LUcGG1ykA" id="(0.06743156199677938,0.3326713008937438)"/>
    </edges>
    <edges xmi:id="_flPwIePZEeq10LUcGG1ykA" type="Transition" element="_flPwIOPZEeq10LUcGG1ykA" source="_1YF_JePeEeq10LUcGG1ykA" target="_1YF_MePeEeq10LUcGG1ykA">
      <children xsi:type="notation:DecorationNode" xmi:id="_flQXMePZEeq10LUcGG1ykA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_flQXMuPZEeq10LUcGG1ykA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_flQXM-PZEeq10LUcGG1ykA" x="-1" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_flPwIuPZEeq10LUcGG1ykA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_flQXMOPZEeq10LUcGG1ykA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_flPwI-PZEeq10LUcGG1ykA" points="[9, 32, -609, 34]$[612, 32, -6, 34]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_flRlUOPZEeq10LUcGG1ykA" id="(0.8783783783783784,0.11578947368421051)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_flRlUePZEeq10LUcGG1ykA" id="(0.0387192851824274,0.2872707945787935)"/>
    </edges>
    <edges xmi:id="_pD3msOPZEeq10LUcGG1ykA" type="Transition" element="_pD2_oOPZEeq10LUcGG1ykA" source="_1YF_JePeEeq10LUcGG1ykA" target="_1YF_MePeEeq10LUcGG1ykA">
      <children xsi:type="notation:DecorationNode" xmi:id="_pD3mtOPZEeq10LUcGG1ykA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pD3mtePZEeq10LUcGG1ykA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pD3mtuPZEeq10LUcGG1ykA" x="-1" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_pD3msePZEeq10LUcGG1ykA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_pD3ms-PZEeq10LUcGG1ykA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_pD3msuPZEeq10LUcGG1ykA" points="[8, -18, -606, -20]$[611, -18, -3, -20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pD400OPZEeq10LUcGG1ykA" id="(0.8918918918918919,0.19058171745152355)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pD400ePZEeq10LUcGG1ykA" id="(0.0193596425912137,0.5423863938347063)"/>
    </edges>
    <edges xmi:id="_AwSYsOPaEeq10LUcGG1ykA" type="Transition" element="_AwRxoOPaEeq10LUcGG1ykA" source="_1YF_MePeEeq10LUcGG1ykA" target="_1YF_JePeEeq10LUcGG1ykA">
      <children xsi:type="notation:DecorationNode" xmi:id="_AwSYtOPaEeq10LUcGG1ykA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AwSYtePaEeq10LUcGG1ykA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AwSYtuPaEeq10LUcGG1ykA" x="23" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AwSYsePaEeq10LUcGG1ykA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_AwSYs-PaEeq10LUcGG1ykA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AwSYsuPaEeq10LUcGG1ykA" points="[5, 26, 571, -27]$[5, 49, 571, -4]$[-564, 49, 2, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AwTm0OPaEeq10LUcGG1ykA" id="(0.4660743769164243,0.6444326335370715)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AwTm0ePaEeq10LUcGG1ykA" id="(0.9729729729729731,0.5189421573736321)"/>
    </edges>
    <edges xmi:id="_T30DMOPaEeq10LUcGG1ykA" type="Transition" element="_T3y1EOPaEeq10LUcGG1ykA" source="_1YF_JePeEeq10LUcGG1ykA" target="_1YF_PePeEeq10LUcGG1ykA">
      <children xsi:type="notation:DecorationNode" xmi:id="_T30DNOPaEeq10LUcGG1ykA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_T30DNePaEeq10LUcGG1ykA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_T30DNuPaEeq10LUcGG1ykA" x="-1" y="-9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_T30DMePaEeq10LUcGG1ykA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_T30DM-PaEeq10LUcGG1ykA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_T30DMuPaEeq10LUcGG1ykA" points="[10, 0, -510, 3]$[505, 0, -15, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_T30qQOPaEeq10LUcGG1ykA" id="(0.8648648648648649,0.7345231891610213)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_T30qQePaEeq10LUcGG1ykA" id="(0.1032258064516129,0.21861604409063076)"/>
    </edges>
    <edges xmi:id="_n9hNMOPaEeq10LUcGG1ykA" type="Transition" element="_n9gmIOPaEeq10LUcGG1ykA" source="_1YF_PePeEeq10LUcGG1ykA" target="_1YF_JePeEeq10LUcGG1ykA">
      <children xsi:type="notation:DecorationNode" xmi:id="_n9hNNOPaEeq10LUcGG1ykA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_n9hNNePaEeq10LUcGG1ykA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_n9hNNuPaEeq10LUcGG1ykA" x="2" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_n9hNMePaEeq10LUcGG1ykA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_n9hNM-PaEeq10LUcGG1ykA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_n9hNMuPaEeq10LUcGG1ykA" points="[-62, -7, 528, -25]$[-557, -7, 33, -25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n9h0QOPaEeq10LUcGG1ykA" id="(0.41935483870967744,0.8922229026331905)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n9h0QePaEeq10LUcGG1ykA" id="(0.527027027027027,1.0527618551328815)"/>
    </edges>
    <edges xmi:id="_xnai0uPeEeq10LUcGG1ykA" type="Transition" element="_xnai0ePeEeq10LUcGG1ykA" source="_enZZLePfEeq10LUcGG1ykA" target="_enZZFePfEeq10LUcGG1ykA">
      <children xsi:type="notation:DecorationNode" xmi:id="_xnai0-PeEeq10LUcGG1ykA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xnai1OPeEeq10LUcGG1ykA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xnai1ePeEeq10LUcGG1ykA" x="9" y="4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xnai1uPeEeq10LUcGG1ykA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xnai1-PeEeq10LUcGG1ykA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xnai2OPeEeq10LUcGG1ykA" points="[7, 0, -73, 18]$[47, 0, -33, 18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xnai2ePeEeq10LUcGG1ykA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xnai2uPeEeq10LUcGG1ykA" id="(0.4855072463768116,0.27906976744186046)"/>
    </edges>
    <edges xmi:id="_xnbJ4OPeEeq10LUcGG1ykA" type="Transition" element="_xnYto-PeEeq10LUcGG1ykA" source="_enZZFePfEeq10LUcGG1ykA" target="_enZZIePfEeq10LUcGG1ykA">
      <children xsi:type="notation:DecorationNode" xmi:id="_xnbJ4ePeEeq10LUcGG1ykA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xnbJ4uPeEeq10LUcGG1ykA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xnbJ4-PeEeq10LUcGG1ykA" x="4" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xnbJ5OPeEeq10LUcGG1ykA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xnbJ5ePeEeq10LUcGG1ykA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xnbJ5uPeEeq10LUcGG1ykA" points="[11, 6, -318, -8]$[302, 6, -27, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xnbJ5-PeEeq10LUcGG1ykA" id="(0.8496376811594203,0.18955682316805617)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xnbJ6OPeEeq10LUcGG1ykA" id="(0.13450780662937295,0.354631217838765)"/>
    </edges>
    <edges xmi:id="_xnbJ6ePeEeq10LUcGG1ykA" type="Transition" element="_xnZU5ePeEeq10LUcGG1ykA" source="_enZZIePfEeq10LUcGG1ykA" target="_enZZFePfEeq10LUcGG1ykA">
      <children xsi:type="notation:DecorationNode" xmi:id="_xnbJ6uPeEeq10LUcGG1ykA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xnbJ6-PeEeq10LUcGG1ykA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xnbJ7OPeEeq10LUcGG1ykA" x="-7" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xnbJ7ePeEeq10LUcGG1ykA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xnbJ7uPeEeq10LUcGG1ykA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xnbJ7-PeEeq10LUcGG1ykA" points="[-6, 12, 305, 35]$[-297, 12, 14, 35]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xnbJ8OPeEeq10LUcGG1ykA" id="(0.02989062369541621,0.6680960548885078)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xnbJ8ePeEeq10LUcGG1ykA" id="(0.8091787439613527,0.4001755155770075)"/>
    </edges>
    <edges xmi:id="_386sluPeEeq10LUcGG1ykA" type="Transition" element="_386slePeEeq10LUcGG1ykA" source="_4ZQqLePeEeq10LUcGG1ykA" target="_4ZQqFePeEeq10LUcGG1ykA">
      <children xsi:type="notation:DecorationNode" xmi:id="_386sl-PeEeq10LUcGG1ykA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_386smOPeEeq10LUcGG1ykA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_386smePeEeq10LUcGG1ykA" x="9" y="4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_386smuPeEeq10LUcGG1ykA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_386sm-PeEeq10LUcGG1ykA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_386snOPeEeq10LUcGG1ykA" points="[7, 0, -73, 18]$[47, 0, -33, 18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_386snePeEeq10LUcGG1ykA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_386snuPeEeq10LUcGG1ykA" id="(0.4855072463768116,0.27906976744186046)"/>
    </edges>
    <edges xmi:id="_387TYOPeEeq10LUcGG1ykA" type="Transition" element="_386FWePeEeq10LUcGG1ykA" source="_4ZQqFePeEeq10LUcGG1ykA" target="_4ZQqIePeEeq10LUcGG1ykA">
      <children xsi:type="notation:DecorationNode" xmi:id="_387TYePeEeq10LUcGG1ykA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_387TYuPeEeq10LUcGG1ykA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_387TY-PeEeq10LUcGG1ykA" x="4" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_387TZOPeEeq10LUcGG1ykA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_387TZePeEeq10LUcGG1ykA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_387TZuPeEeq10LUcGG1ykA" points="[11, 2, -550, -12]$[534, 2, -27, -12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_387TZ-PeEeq10LUcGG1ykA" id="(0.8496376811594203,0.18955682316805617)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_387TaOPeEeq10LUcGG1ykA" id="(0.13450780662937295,0.354631217838765)"/>
    </edges>
    <edges xmi:id="_387TaePeEeq10LUcGG1ykA" type="Transition" element="_386shOPeEeq10LUcGG1ykA" source="_4ZQqIePeEeq10LUcGG1ykA" target="_4ZQqFePeEeq10LUcGG1ykA">
      <children xsi:type="notation:DecorationNode" xmi:id="_387TauPeEeq10LUcGG1ykA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_387Ta-PeEeq10LUcGG1ykA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_387TbOPeEeq10LUcGG1ykA" x="-1" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_387TbePeEeq10LUcGG1ykA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_387TbuPeEeq10LUcGG1ykA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_387Tb-PeEeq10LUcGG1ykA" points="[-6, 3, 537, 26]$[-529, 3, 14, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_387TcOPeEeq10LUcGG1ykA" id="(0.02989062369541621,0.6680960548885078)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_387TcePeEeq10LUcGG1ykA" id="(0.8091787439613527,0.4001755155770075)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
