<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_KzeksN4jEeqoxMjXeuiunA" specification="@CycleBased(200)&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;internal:&#xA;var ACTIVE0 : boolean = false&#xA;var ACTIVE1 : boolean = false&#xA;var RETTOBASE : boolean = true&#xA;&#xA;var stack_size : integer = 0&#xA;&#xA;interface:&#xA;in event IRQ0&#xA;in event IRQ1&#xA;in event ret_from_int&#xA;&#xA;var EN0 : boolean = false&#xA;var EN1 : boolean = false&#xA;var PEND0 : boolean = false&#xA;var PEND1 : boolean = false&#xA;&#xA;// IRQ priorities are hard wired in the&#xA;// model (IRQ0 has higher priority&#xA;// than IRQ1)" name="Interrupts">
    <regions xmi:id="_K0FosN4jEeqoxMjXeuiunA" name="cpu region">
      <vertices xsi:type="sgraph:State" xmi:id="_9F62QN4nEeqoxMjXeuiunA" specification="IRQ0 / PEND0 = true&#xD;&#xA;IRQ1 / PEND1 = true" name="ARM Cortex-M Core" incomingTransitions="_M77FoN4oEeqoxMjXeuiunA">
        <regions xmi:id="_tiGxgObXEeqDApZyIp3Lvg" name="core state">
          <vertices xsi:type="sgraph:Entry" xmi:id="_ne3GxefJEeqmWsMJkdDOVQ">
            <outgoingTransitions xmi:id="_ne3GxufJEeqmWsMJkdDOVQ" specification="" target="_ne3Gx-fJEeqmWsMJkdDOVQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ne3Gx-fJEeqmWsMJkdDOVQ" specification="" name="Privileged Thread Mode" incomingTransitions="_ne3GxufJEeqmWsMJkdDOVQ _ne4U7efJEeqmWsMJkdDOVQ">
            <outgoingTransitions xmi:id="_ne3G2ufJEeqmWsMJkdDOVQ" specification="[(PEND0 &amp;&amp; EN0)&#xD;&#xA;|| (PEND1 &amp;&amp; EN1)]" target="_ne3twOfJEeqmWsMJkdDOVQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ne3twOfJEeqmWsMJkdDOVQ" name="Stacking" incomingTransitions="_ne3G2ufJEeqmWsMJkdDOVQ _ne4U9-fJEeqmWsMJkdDOVQ">
            <outgoingTransitions xmi:id="_ne3tw-fJEeqmWsMJkdDOVQ" specification="after 2s [PEND0 &amp;&amp; EN0]&#xD;&#xA;/ stack_size +=8; ACTIVE0 = true" target="_ne4U9OfJEeqmWsMJkdDOVQ"/>
            <outgoingTransitions xmi:id="_cPB4gOiKEeqmWsMJkdDOVQ" specification="after 2s [PEND1 &amp;&amp; EN1]&#xD;&#xA;/ stack_size +=8; ACTIVE1 = true" target="_ne4U9OfJEeqmWsMJkdDOVQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ne4U0OfJEeqmWsMJkdDOVQ" name="Unstacking" incomingTransitions="_C8HbEOiQEeqmWsMJkdDOVQ">
            <outgoingTransitions xmi:id="_ne4U0-fJEeqmWsMJkdDOVQ" specification="[(PEND0 &amp;&amp; EN0 &amp;&amp; !ACTIVE0)&#xD;&#xA;|| (PEND1 &amp;&amp; EN1 &amp;&amp; !ACTIVE1)]" target="_ne48CefJEeqmWsMJkdDOVQ"/>
            <outgoingTransitions xmi:id="_ne4U2ufJEeqmWsMJkdDOVQ" specification="after 2s [!RETTOBASE] /&#xD;&#xA;RETTOBASE = true" target="_ne4U9OfJEeqmWsMJkdDOVQ"/>
            <outgoingTransitions xmi:id="_ne4U7efJEeqmWsMJkdDOVQ" specification="after 2s [RETTOBASE]&#xD;&#xA;/ stack_size -= 8" target="_ne3Gx-fJEeqmWsMJkdDOVQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ne4U9OfJEeqmWsMJkdDOVQ" specification="" name="Handler Mode" incomingTransitions="_ne4U2ufJEeqmWsMJkdDOVQ _cPB4gOiKEeqmWsMJkdDOVQ _ne3tw-fJEeqmWsMJkdDOVQ _ne48DOfJEeqmWsMJkdDOVQ _ne5i8OfJEeqmWsMJkdDOVQ">
            <outgoingTransitions xmi:id="_ne4U9-fJEeqmWsMJkdDOVQ" specification="[(!ACTIVE0) &amp;&amp; PEND0 &amp;&amp; EN0]&#xD;&#xA;/ RETTOBASE = false" target="_ne3twOfJEeqmWsMJkdDOVQ"/>
            <outgoingTransitions xmi:id="_ne48AOfJEeqmWsMJkdDOVQ" specification="ret_from_int [ACTIVE0]&#xD;&#xA;/ ACTIVE0 = false" target="_wZDLoOlXEeqIrv8aRK61CA"/>
            <outgoingTransitions xmi:id="_ZGCqIOiREeqmWsMJkdDOVQ" specification="ret_from_int [ACTIVE1]&#xD;&#xA;/ ACTIVE1 = false" target="_wZDLoOlXEeqIrv8aRK61CA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ne48CefJEeqmWsMJkdDOVQ" name="Tail-chaining" incomingTransitions="_ne479-fJEeqmWsMJkdDOVQ _ne4U0-fJEeqmWsMJkdDOVQ">
            <outgoingTransitions xmi:id="_ne48DOfJEeqmWsMJkdDOVQ" specification="after 1s [PEND0 &amp;&amp; EN0]&#xD;&#xA;/ PEND0 = false; ACTIVE0 = true" target="_ne4U9OfJEeqmWsMJkdDOVQ"/>
            <outgoingTransitions xmi:id="_ne5i8OfJEeqmWsMJkdDOVQ" specification="after 1s [PEND1 &amp;&amp; EN1]&#xD;&#xA;/ PEND1 = false; ACTIVE1 = true" target="_ne4U9OfJEeqmWsMJkdDOVQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="__aPPwOiPEeqmWsMJkdDOVQ" incomingTransitions="_0PXV4OlXEeqIrv8aRK61CA">
            <outgoingTransitions xmi:id="_C8HbEOiQEeqmWsMJkdDOVQ" specification="else" target="_ne4U0OfJEeqmWsMJkdDOVQ"/>
            <outgoingTransitions xmi:id="_ne479-fJEeqmWsMJkdDOVQ" specification="[(PEND0 &amp;&amp; EN0 &amp;&amp; !ACTIVE0)&#xD;&#xA;|| (PEND1 &amp;&amp; EN1 &amp;&amp; !ACTIVE1)]" target="_ne48CefJEeqmWsMJkdDOVQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_wZDLoOlXEeqIrv8aRK61CA" incomingTransitions="_ne48AOfJEeqmWsMJkdDOVQ _ZGCqIOiREeqmWsMJkdDOVQ">
            <outgoingTransitions xmi:id="_0PXV4OlXEeqIrv8aRK61CA" specification="" target="__aPPwOiPEeqmWsMJkdDOVQ"/>
          </vertices>
        </regions>
        <regions xmi:id="_Al55EOfJEeqmWsMJkdDOVQ" name="irq1 state">
          <vertices xsi:type="sgraph:State" xmi:id="_Br-wZufJEeqmWsMJkdDOVQ" specification="entry / PEND1 = false" name="Active" incomingTransitions="_Br_Xa-fJEeqmWsMJkdDOVQ _Br_-c-fJEeqmWsMJkdDOVQ">
            <outgoingTransitions xmi:id="_Br-we-fJEeqmWsMJkdDOVQ" specification="[!ACTIVE1]" target="_Br_XYOfJEeqmWsMJkdDOVQ"/>
            <outgoingTransitions xmi:id="_Br-wgefJEeqmWsMJkdDOVQ" specification="[PEND1]" target="_Br_-cOfJEeqmWsMJkdDOVQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Br_XYOfJEeqmWsMJkdDOVQ" name="Inactive" incomingTransitions="_Br_Xd-fJEeqmWsMJkdDOVQ _Br-we-fJEeqmWsMJkdDOVQ _Br_XcOfJEeqmWsMJkdDOVQ">
            <outgoingTransitions xmi:id="_Br_XY-fJEeqmWsMJkdDOVQ" specification="[PEND1]" target="_Br_XaOfJEeqmWsMJkdDOVQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Br_XaOfJEeqmWsMJkdDOVQ" specification="" name="Pending" incomingTransitions="_Br_XY-fJEeqmWsMJkdDOVQ _Br_-eefJEeqmWsMJkdDOVQ">
            <outgoingTransitions xmi:id="_Br_Xa-fJEeqmWsMJkdDOVQ" specification="[ACTIVE1]" target="_Br-wZufJEeqmWsMJkdDOVQ"/>
            <outgoingTransitions xmi:id="_Br_XcOfJEeqmWsMJkdDOVQ" specification="[!PEND1]" target="_Br_XYOfJEeqmWsMJkdDOVQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_Br_XdufJEeqmWsMJkdDOVQ">
            <outgoingTransitions xmi:id="_Br_Xd-fJEeqmWsMJkdDOVQ" specification="" target="_Br_XYOfJEeqmWsMJkdDOVQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Br_-cOfJEeqmWsMJkdDOVQ" name="Active and Pending" incomingTransitions="_Br-wgefJEeqmWsMJkdDOVQ">
            <outgoingTransitions xmi:id="_Br_-c-fJEeqmWsMJkdDOVQ" specification="[!PEND1]" target="_Br-wZufJEeqmWsMJkdDOVQ"/>
            <outgoingTransitions xmi:id="_Br_-eefJEeqmWsMJkdDOVQ" specification="[!ACTIVE1]" target="_Br_XaOfJEeqmWsMJkdDOVQ"/>
          </vertices>
        </regions>
        <regions xmi:id="_2PHk8ObXEeqDApZyIp3Lvg" name="irq0 state">
          <vertices xsi:type="sgraph:State" xmi:id="_8c_ckubXEeqDApZyIp3Lvg" specification="entry / PEND0 = false" name="Active" incomingTransitions="_8dBRq-bXEeqDApZyIp3Lvg _8dCfxebXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_8dADlObXEeqDApZyIp3Lvg" specification="[!ACTIVE0]" target="_8dBRoObXEeqDApZyIp3Lvg"/>
            <outgoingTransitions xmi:id="_8dADnubXEeqDApZyIp3Lvg" specification="[PEND0]" target="_8dCfwubXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_8dBRoObXEeqDApZyIp3Lvg" name="Inactive" incomingTransitions="_8dCfwebXEeqDApZyIp3Lvg _8dADlObXEeqDApZyIp3Lvg _8dB4wObXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_8dBRo-bXEeqDApZyIp3Lvg" specification="[PEND0]" target="_8dBRqObXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_8dBRqObXEeqDApZyIp3Lvg" specification="" name="Pending" incomingTransitions="_8dBRo-bXEeqDApZyIp3Lvg _Qac8gObwEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_8dBRq-bXEeqDApZyIp3Lvg" specification="[ACTIVE0]" target="_8c_ckubXEeqDApZyIp3Lvg"/>
            <outgoingTransitions xmi:id="_8dB4wObXEeqDApZyIp3Lvg" specification="[!PEND0]" target="_8dBRoObXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_8dCfwObXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_8dCfwebXEeqDApZyIp3Lvg" specification="" target="_8dBRoObXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_8dCfwubXEeqDApZyIp3Lvg" name="Active and Pending" incomingTransitions="_8dADnubXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_8dCfxebXEeqDApZyIp3Lvg" specification="[!PEND0]" target="_8c_ckubXEeqDApZyIp3Lvg"/>
            <outgoingTransitions xmi:id="_Qac8gObwEeqDApZyIp3Lvg" specification="[!ACTIVE0]" target="_8dBRqObXEeqDApZyIp3Lvg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_MZmbsN4oEeqoxMjXeuiunA">
        <outgoingTransitions xmi:id="_M77FoN4oEeqoxMjXeuiunA" specification="" target="_9F62QN4nEeqoxMjXeuiunA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_K0FBoN4jEeqoxMjXeuiunA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_KzeksN4jEeqoxMjXeuiunA" measurementUnit="Pixel">
    <children xmi:id="_K0LIQN4jEeqoxMjXeuiunA" type="Region" element="_K0FosN4jEeqoxMjXeuiunA">
      <children xsi:type="notation:DecorationNode" xmi:id="_K1WM8N4jEeqoxMjXeuiunA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_K1WM8d4jEeqoxMjXeuiunA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_K1WM8t4jEeqoxMjXeuiunA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_K1XbEN4jEeqoxMjXeuiunA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_9F8EYN4nEeqoxMjXeuiunA" type="State" element="_9F62QN4nEeqoxMjXeuiunA">
          <children xsi:type="notation:DecorationNode" xmi:id="_9F8rcN4nEeqoxMjXeuiunA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9F8rcd4nEeqoxMjXeuiunA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_9F8rct4nEeqoxMjXeuiunA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9F8rc94nEeqoxMjXeuiunA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_9F8rdN4nEeqoxMjXeuiunA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9F8rdd4nEeqoxMjXeuiunA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9F9SgN4nEeqoxMjXeuiunA" type="StateFigureCompartment">
            <children xmi:id="_JeApgOiKEeqmWsMJkdDOVQ" type="Region" element="_tiGxgObXEeqDApZyIp3Lvg">
              <children xsi:type="notation:DecorationNode" xmi:id="_JeApgeiKEeqmWsMJkdDOVQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApguiKEeqmWsMJkdDOVQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_JeApg-iKEeqmWsMJkdDOVQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_JeAphOiKEeqmWsMJkdDOVQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_JeApheiKEeqmWsMJkdDOVQ" type="Entry" element="_ne3GxefJEeqmWsMJkdDOVQ">
                  <children xmi:id="_JeAphuiKEeqmWsMJkdDOVQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_JeAph-iKEeqmWsMJkdDOVQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApiOiKEeqmWsMJkdDOVQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_JeApieiKEeqmWsMJkdDOVQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApiuiKEeqmWsMJkdDOVQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeApi-iKEeqmWsMJkdDOVQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApjOiKEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_JeApjeiKEeqmWsMJkdDOVQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeApjuiKEeqmWsMJkdDOVQ" x="107"/>
                </children>
                <children xmi:id="_JeApj-iKEeqmWsMJkdDOVQ" type="State" element="_ne3Gx-fJEeqmWsMJkdDOVQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_JeApkOiKEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApkeiKEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_JeApkuiKEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JeApk-iKEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_JeAplOiKEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeApleiKEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JeApluiKEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApl-iKEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_JeApmOiKEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JeApmeiKEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeApmuiKEeqmWsMJkdDOVQ" x="13" y="45" width="208" height="150"/>
                </children>
                <children xmi:id="_JeApm-iKEeqmWsMJkdDOVQ" type="State" element="_ne3twOfJEeqmWsMJkdDOVQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_JeApnOiKEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApneiKEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_JeApnuiKEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JeApn-iKEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_JeApoOiKEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeApoeiKEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JeApouiKEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApo-iKEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_JeAppOiKEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JeAppeiKEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeAppuiKEeqmWsMJkdDOVQ" x="388" width="106" height="141"/>
                </children>
                <children xmi:id="_JeApp-iKEeqmWsMJkdDOVQ" type="State" element="_ne4U0OfJEeqmWsMJkdDOVQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_JeApqOiKEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApqeiKEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_JeApquiKEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JeApq-iKEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_JeAprOiKEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeApreiKEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JeApruiKEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApr-iKEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_JeApsOiKEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JeApseiKEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeApsuiKEeqmWsMJkdDOVQ" x="388" y="147" width="106" height="96"/>
                </children>
                <children xmi:id="_JeAps-iKEeqmWsMJkdDOVQ" type="State" element="_ne4U9OfJEeqmWsMJkdDOVQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_JeAptOiKEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApteiKEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_JeAptuiKEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JeApt-iKEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_JeApuOiKEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeApueiKEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JeApuuiKEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApu-iKEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_JeApvOiKEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JeApveiKEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeApvuiKEeqmWsMJkdDOVQ" x="955" width="111" height="399"/>
                </children>
                <children xmi:id="_JeApv-iKEeqmWsMJkdDOVQ" type="State" element="_ne48CefJEeqmWsMJkdDOVQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_JeApwOiKEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApweiKEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_JeApwuiKEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JeApw-iKEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_JeApxOiKEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeApxeiKEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JeApxuiKEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JeApx-iKEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_JeApyOiKEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JeApyeiKEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeApyuiKEeqmWsMJkdDOVQ" x="388" y="249" width="106" height="150"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="__aP20OiPEeqmWsMJkdDOVQ" type="Choice" element="__aPPwOiPEeqmWsMJkdDOVQ" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="__aP20eiPEeqmWsMJkdDOVQ" x="721" y="237"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_wZWtoOlXEeqIrv8aRK61CA" type="Choice" element="_wZDLoOlXEeqIrv8aRK61CA" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wZWtoelXEeqIrv8aRK61CA" x="763" y="237"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeApz-iKEeqmWsMJkdDOVQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_JeAp0OiKEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JeAp0eiKEeqmWsMJkdDOVQ"/>
            </children>
            <children xmi:id="_CYR1oOfJEeqmWsMJkdDOVQ" type="Region" element="_Al55EOfJEeqmWsMJkdDOVQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_CYR1oefJEeqmWsMJkdDOVQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR1oufJEeqmWsMJkdDOVQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_CYR1o-fJEeqmWsMJkdDOVQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_CYR1pOfJEeqmWsMJkdDOVQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_CYR1pefJEeqmWsMJkdDOVQ" type="State" element="_Br-wZufJEeqmWsMJkdDOVQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_CYR1pufJEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR1p-fJEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_CYR1qOfJEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_CYR1qefJEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_CYR1qufJEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYR1q-fJEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_CYR1rOfJEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR1refJEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_CYR1rufJEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_CYR1r-fJEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYR1sOfJEeqmWsMJkdDOVQ" x="-2" y="46" width="264" height="108"/>
                </children>
                <children xmi:id="_CYR1sefJEeqmWsMJkdDOVQ" type="State" element="_Br_XYOfJEeqmWsMJkdDOVQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_CYR1sufJEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR1s-fJEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_CYR1tOfJEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_CYR1tefJEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_CYR1tufJEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYR1t-fJEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_CYR1uOfJEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR1uefJEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_CYR1uufJEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_CYR1u-fJEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYR1vOfJEeqmWsMJkdDOVQ" x="-471" y="46" width="74" height="61"/>
                </children>
                <children xmi:id="_CYR1vefJEeqmWsMJkdDOVQ" type="State" element="_Br_XaOfJEeqmWsMJkdDOVQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_CYR1vufJEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR1v-fJEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_CYR1wOfJEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_CYR1wefJEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_CYR1wufJEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYR1w-fJEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_CYR1xOfJEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR1xefJEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_CYR1xufJEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_CYR1x-fJEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYR1yOfJEeqmWsMJkdDOVQ" x="-209" y="46" width="74" height="61"/>
                </children>
                <children xmi:id="_CYR1yefJEeqmWsMJkdDOVQ" type="Entry" element="_Br_XdufJEeqmWsMJkdDOVQ">
                  <children xmi:id="_CYR1yufJEeqmWsMJkdDOVQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_CYR1y-fJEeqmWsMJkdDOVQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR1zOfJEeqmWsMJkdDOVQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_CYR1zefJEeqmWsMJkdDOVQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR1zufJEeqmWsMJkdDOVQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYR1z-fJEeqmWsMJkdDOVQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR10OfJEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_CYR10efJEeqmWsMJkdDOVQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYR10ufJEeqmWsMJkdDOVQ" x="-444" y="13"/>
                </children>
                <children xmi:id="_CYR10-fJEeqmWsMJkdDOVQ" type="State" element="_Br_-cOfJEeqmWsMJkdDOVQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_CYR11OfJEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR11efJEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_CYR11ufJEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_CYR11-fJEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_CYR12OfJEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYR12efJEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_CYR12ufJEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR12-fJEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_CYR13OfJEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_CYR13efJEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYR13ufJEeqmWsMJkdDOVQ" x="393" y="46" width="147" height="108"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYR13-fJEeqmWsMJkdDOVQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_CYR14OfJEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYR14efJEeqmWsMJkdDOVQ"/>
            </children>
            <children xmi:id="_uNA9gOiJEeqmWsMJkdDOVQ" type="Region" element="_2PHk8ObXEeqDApZyIp3Lvg">
              <children xsi:type="notation:DecorationNode" xmi:id="_uNA9geiJEeqmWsMJkdDOVQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9guiJEeqmWsMJkdDOVQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_uNA9g-iJEeqmWsMJkdDOVQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_uNA9hOiJEeqmWsMJkdDOVQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_uNA9heiJEeqmWsMJkdDOVQ" type="State" element="_8c_ckubXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_uNA9huiJEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9h-iJEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_uNA9iOiJEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uNA9ieiJEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_uNA9iuiJEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNA9i-iJEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uNA9jOiJEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9jeiJEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_uNA9juiJEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uNA9j-iJEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNA9kOiJEeqmWsMJkdDOVQ" x="-12" y="36" width="264" height="108"/>
                </children>
                <children xmi:id="_uNA9keiJEeqmWsMJkdDOVQ" type="State" element="_8dBRoObXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_uNA9kuiJEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9k-iJEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_uNA9lOiJEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uNA9leiJEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_uNA9luiJEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNA9l-iJEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uNA9mOiJEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9meiJEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_uNA9muiJEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uNA9m-iJEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNA9nOiJEeqmWsMJkdDOVQ" x="-481" y="36" width="74" height="61"/>
                </children>
                <children xmi:id="_uNA9neiJEeqmWsMJkdDOVQ" type="State" element="_8dBRqObXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_uNA9nuiJEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9n-iJEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_uNA9oOiJEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uNA9oeiJEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_uNA9ouiJEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNA9o-iJEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uNA9pOiJEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9peiJEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_uNA9puiJEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uNA9p-iJEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNA9qOiJEeqmWsMJkdDOVQ" x="-219" y="36" width="74" height="61"/>
                </children>
                <children xmi:id="_uNA9qeiJEeqmWsMJkdDOVQ" type="Entry" element="_8dCfwObXEeqDApZyIp3Lvg">
                  <children xmi:id="_uNA9quiJEeqmWsMJkdDOVQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_uNA9q-iJEeqmWsMJkdDOVQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9rOiJEeqmWsMJkdDOVQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_uNA9reiJEeqmWsMJkdDOVQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9ruiJEeqmWsMJkdDOVQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNA9r-iJEeqmWsMJkdDOVQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9sOiJEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_uNA9seiJEeqmWsMJkdDOVQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNA9suiJEeqmWsMJkdDOVQ" x="-454" y="3"/>
                </children>
                <children xmi:id="_uNA9s-iJEeqmWsMJkdDOVQ" type="State" element="_8dCfwubXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_uNA9tOiJEeqmWsMJkdDOVQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9teiJEeqmWsMJkdDOVQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_uNA9tuiJEeqmWsMJkdDOVQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uNA9t-iJEeqmWsMJkdDOVQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_uNA9uOiJEeqmWsMJkdDOVQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNA9ueiJEeqmWsMJkdDOVQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_uNA9uuiJEeqmWsMJkdDOVQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9u-iJEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_uNA9vOiJEeqmWsMJkdDOVQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uNA9veiJEeqmWsMJkdDOVQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNA9vuiJEeqmWsMJkdDOVQ" x="383" y="36" width="147" height="108"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNA9v-iJEeqmWsMJkdDOVQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_uNA9wOiJEeqmWsMJkdDOVQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNA9weiJEeqmWsMJkdDOVQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9F8EYd4nEeqoxMjXeuiunA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_9F8EYt4nEeqoxMjXeuiunA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9F9Sgd4nEeqoxMjXeuiunA" name="isHorizontal"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9F8EY94nEeqoxMjXeuiunA" x="1" y="50" width="1108" height="883"/>
        </children>
        <children xmi:id="_MZmbsd4oEeqoxMjXeuiunA" type="Entry" element="_MZmbsN4oEeqoxMjXeuiunA">
          <children xmi:id="_MZnCwN4oEeqoxMjXeuiunA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_MZnCw94oEeqoxMjXeuiunA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_MZnCxN4oEeqoxMjXeuiunA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_MZnCxd4oEeqoxMjXeuiunA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MZnCwd4oEeqoxMjXeuiunA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZnCwt4oEeqoxMjXeuiunA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MZmbst4oEeqoxMjXeuiunA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_MZmbs94oEeqoxMjXeuiunA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZmbtN4oEeqoxMjXeuiunA" x="44" y="14" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K1XbEd4jEeqoxMjXeuiunA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_K0LIQd4jEeqoxMjXeuiunA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K1YCIN4jEeqoxMjXeuiunA" x="30" y="12" width="1145" height="974"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_K1wcoN4jEeqoxMjXeuiunA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_K1wcot4jEeqoxMjXeuiunA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_K1wco94jEeqoxMjXeuiunA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_K1wcpN4jEeqoxMjXeuiunA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_K1xDsN4jEeqoxMjXeuiunA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K1xDsd4jEeqoxMjXeuiunA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K1xDst4jEeqoxMjXeuiunA" x="10" y="10" width="200" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_91-JIeb5EeqDApZyIp3Lvg" type="Note" fontName="Verdana" description="Saving registers is simulated by &quot;stack_size += 8&quot; (hardware) when entering Handler Mode&#xD;&#xA;Restoring registers is simulated by &quot;stack_size -= 8&quot; (hardware) when entering Thread Mode" fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
      <children xsi:type="notation:BasicDecorationNode" xmi:id="_91-JIub5EeqDApZyIp3Lvg" type="DiagramName">
        <element xsi:nil="true"/>
      </children>
      <children xsi:type="notation:BasicDecorationNode" xmi:id="_91-JI-b5EeqDApZyIp3Lvg" type="Description">
        <element xsi:nil="true"/>
      </children>
      <styles xsi:type="notation:TextStyle" xmi:id="_91-JJOb5EeqDApZyIp3Lvg"/>
      <styles xsi:type="notation:LineTypeStyle" xmi:id="_91-JJeb5EeqDApZyIp3Lvg"/>
      <element xsi:nil="true"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_91-JJub5EeqDApZyIp3Lvg" x="30" y="996" width="817" height="61"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_K0FBod4jEeqoxMjXeuiunA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_K0FBot4jEeqoxMjXeuiunA"/>
    <edges xmi:id="_M77ssN4oEeqoxMjXeuiunA" type="Transition" element="_M77FoN4oEeqoxMjXeuiunA" source="_MZmbsd4oEeqoxMjXeuiunA" target="_9F8EYN4nEeqoxMjXeuiunA">
      <children xsi:type="notation:DecorationNode" xmi:id="_M78TwN4oEeqoxMjXeuiunA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M78Twd4oEeqoxMjXeuiunA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M78Twt4oEeqoxMjXeuiunA"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M77ssd4oEeqoxMjXeuiunA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M77ss94oEeqoxMjXeuiunA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M77sst4oEeqoxMjXeuiunA" points="[2, 11, -266, -525]$[2, 33, -266, -503]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M7860N4oEeqoxMjXeuiunA" id="(0.3333333333333333,0.2)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M7860d4oEeqoxMjXeuiunA" id="(0.3021186162892107,0.574922790050701)"/>
    </edges>
    <edges xmi:id="_8dDG0ObXEeqDApZyIp3Lvg" type="Transition" element="_8dCfwebXEeqDApZyIp3Lvg" source="_uNA9qeiJEeqmWsMJkdDOVQ" target="_uNA9keiJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDG0ebXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDG0ubXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDG0-bXEeqDApZyIp3Lvg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDG1ObXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDG1ebXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDG1ubXEeqDApZyIp3Lvg" points="[-5, 5, 1, -51]$[-5, 29, 1, -27]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG1-bXEeqDApZyIp3Lvg" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG2ObXEeqDApZyIp3Lvg" id="(0.4855072463768116,0.48214285714285715)"/>
    </edges>
    <edges xmi:id="_8dDG2ebXEeqDApZyIp3Lvg" type="Transition" element="_8dBRo-bXEeqDApZyIp3Lvg" source="_uNA9keiJEeqmWsMJkdDOVQ" target="_uNA9neiJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDG2ubXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDG2-bXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDG3ObXEeqDApZyIp3Lvg" x="-2" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDG3ebXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDG3ubXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDG3-bXEeqDApZyIp3Lvg" points="[12, -9, -193, -16]$[205, -9, 0, -16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG4ObXEeqDApZyIp3Lvg" id="(0.8361513687600645,0.47405660377358494)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG4ebXEeqDApZyIp3Lvg" id="(0.013486312399355877,0.5956873315363883)"/>
    </edges>
    <edges xmi:id="_8dDG4ubXEeqDApZyIp3Lvg" type="Transition" element="_8dBRq-bXEeqDApZyIp3Lvg" source="_uNA9neiJEeqmWsMJkdDOVQ" target="_uNA9heiJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDG4-bXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDG5ObXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDG5ebXEeqDApZyIp3Lvg" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDG5ubXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDG5-bXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDG6ObXEeqDApZyIp3Lvg" points="[11, -2, -107, -1]$[104, -2, -14, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG6ebXEeqDApZyIp3Lvg" id="(0.8496376811594203,0.5309973045822103)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG6ubXEeqDApZyIp3Lvg" id="(0.5002944833453309,0.27532515112657996)"/>
    </edges>
    <edges xmi:id="_8dDG6-bXEeqDApZyIp3Lvg" type="Transition" element="_8dADlObXEeqDApZyIp3Lvg" source="_uNA9heiJEeqmWsMJkdDOVQ" target="_uNA9keiJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDG7ObXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDG7ebXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDG7ubXEeqDApZyIp3Lvg" x="-1" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDG7-bXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDG8ObXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDG8ebXEeqDApZyIp3Lvg" points="[-181, 32, 439, 33]$[-616, 32, 4, 33]$[-616, 8, 4, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG8ubXEeqDApZyIp3Lvg" id="(0.6991470889775974,0.4687671734749954)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG8-bXEeqDApZyIp3Lvg" id="(0.44504830917874394,0.846024258760108)"/>
    </edges>
    <edges xmi:id="_8dDt4ObXEeqDApZyIp3Lvg" type="Transition" element="_8dADnubXEeqDApZyIp3Lvg" source="_uNA9heiJEeqmWsMJkdDOVQ" target="_uNA9s-iJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDt4ebXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDt4ubXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDt4-bXEeqDApZyIp3Lvg" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDt5ObXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDt5ebXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDt5ubXEeqDApZyIp3Lvg" points="[89, -16, -245, -26]$[283, -16, -51, -26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDt5-bXEeqDApZyIp3Lvg" id="(0.6578757934690138,0.4248030774867192)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDt6ObXEeqDApZyIp3Lvg" id="(0.3603691112190384,0.5233559259937717)"/>
    </edges>
    <edges xmi:id="_8dDt6ebXEeqDApZyIp3Lvg" type="Transition" element="_8dCfxebXEeqDApZyIp3Lvg" source="_uNA9s-iJEeqmWsMJkdDOVQ" target="_uNA9heiJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDt6ubXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDt6-bXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDt7ObXEeqDApZyIp3Lvg" x="-3" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDt7ebXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDt7ubXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDt7-bXEeqDApZyIp3Lvg" points="[-106, 26, 230, 36]$[-300, 26, 36, 36]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDt8ObXEeqDApZyIp3Lvg" id="(0.7479358912093248,0.5321487451914271)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDt8ebXEeqDApZyIp3Lvg" id="(0.8642322710119321,0.4335958966843744)"/>
    </edges>
    <edges xmi:id="_8dDt8ubXEeqDApZyIp3Lvg" type="Transition" element="_8dB4wObXEeqDApZyIp3Lvg" source="_uNA9neiJEeqmWsMJkdDOVQ" target="_uNA9keiJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDt8-bXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDt9ObXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDt9ebXEeqDApZyIp3Lvg" x="-2" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDt9ubXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDt9-bXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDt-ObXEeqDApZyIp3Lvg" points="[1, 26, 1, 26]$[1, 26, 1, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDt-ebXEeqDApZyIp3Lvg" id="(0.013513513513513514,0.639344262295082)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDt-ubXEeqDApZyIp3Lvg" id="(0.8783783783783784,0.7213114754098361)"/>
    </edges>
    <edges xmi:id="_QadjkObwEeqDApZyIp3Lvg" type="Transition" element="_Qac8gObwEeqDApZyIp3Lvg" source="_uNA9s-iJEeqmWsMJkdDOVQ" target="_uNA9neiJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_QadjlObwEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QadjlebwEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QadjlubwEeqDApZyIp3Lvg" x="-1" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QadjkebwEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Qadjk-bwEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QadjkubwEeqDApZyIp3Lvg" points="[10, 0, 648, 0]$[10, -26, 648, -26]$[-628, -26, 10, -26]$[-628, 0, 10, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QaexsObwEeqDApZyIp3Lvg" id="(0.42857142857142855,0.009259259259259259)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QaexsebwEeqDApZyIp3Lvg" id="(0.35135135135135137,0.01639344262295082)"/>
    </edges>
    <edges xmi:id="_Br_-f-fJEeqmWsMJkdDOVQ" type="Transition" element="_Br_Xd-fJEeqmWsMJkdDOVQ" source="_CYR1yefJEeqmWsMJkdDOVQ" target="_CYR1sefJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Br_-gOfJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Br_-gefJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Br_-gufJEeqmWsMJkdDOVQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Br_-g-fJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Br_-hOfJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Br_-hefJEeqmWsMJkdDOVQ" points="[-5, 5, 1, -51]$[-5, 29, 1, -27]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Br_-hufJEeqmWsMJkdDOVQ" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Br_-h-fJEeqmWsMJkdDOVQ" id="(0.4855072463768116,0.48214285714285715)"/>
    </edges>
    <edges xmi:id="_Br_-iOfJEeqmWsMJkdDOVQ" type="Transition" element="_Br_XY-fJEeqmWsMJkdDOVQ" source="_CYR1sefJEeqmWsMJkdDOVQ" target="_CYR1vefJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Br_-iefJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Br_-iufJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Br_-i-fJEeqmWsMJkdDOVQ" x="-2" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Br_-jOfJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Br_-jefJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Br_-jufJEeqmWsMJkdDOVQ" points="[12, -9, -193, -16]$[205, -9, 0, -16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Br_-j-fJEeqmWsMJkdDOVQ" id="(0.8361513687600645,0.47405660377358494)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Br_-kOfJEeqmWsMJkdDOVQ" id="(0.013486312399355877,0.5956873315363883)"/>
    </edges>
    <edges xmi:id="_Br_-kefJEeqmWsMJkdDOVQ" type="Transition" element="_Br_Xa-fJEeqmWsMJkdDOVQ" source="_CYR1vefJEeqmWsMJkdDOVQ" target="_CYR1pefJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Br_-kufJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Br_-k-fJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Br_-lOfJEeqmWsMJkdDOVQ" x="-1" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Br_-lefJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Br_-lufJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Br_-l-fJEeqmWsMJkdDOVQ" points="[11, -2, -107, -1]$[104, -2, -14, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Br_-mOfJEeqmWsMJkdDOVQ" id="(0.8496376811594203,0.5309973045822103)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Br_-mefJEeqmWsMJkdDOVQ" id="(0.5002944833453309,0.27532515112657996)"/>
    </edges>
    <edges xmi:id="_Br_-mufJEeqmWsMJkdDOVQ" type="Transition" element="_Br-we-fJEeqmWsMJkdDOVQ" source="_CYR1pefJEeqmWsMJkdDOVQ" target="_CYR1sefJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Br_-m-fJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Br_-nOfJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Br_-nefJEeqmWsMJkdDOVQ" x="-1" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Br_-nufJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Br_-n-fJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Br_-oOfJEeqmWsMJkdDOVQ" points="[-181, 32, 439, 33]$[-616, 32, 4, 33]$[-616, 8, 4, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Br_-oefJEeqmWsMJkdDOVQ" id="(0.6991470889775974,0.4687671734749954)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Br_-oufJEeqmWsMJkdDOVQ" id="(0.44504830917874394,0.846024258760108)"/>
    </edges>
    <edges xmi:id="_BsAlgOfJEeqmWsMJkdDOVQ" type="Transition" element="_Br-wgefJEeqmWsMJkdDOVQ" source="_CYR1pefJEeqmWsMJkdDOVQ" target="_CYR10-fJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_BsAlgefJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BsAlgufJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BsAlg-fJEeqmWsMJkdDOVQ" x="-3" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BsAlhOfJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BsAlhefJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BsAlhufJEeqmWsMJkdDOVQ" points="[89, -16, -245, -26]$[283, -16, -51, -26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BsAlh-fJEeqmWsMJkdDOVQ" id="(0.6578757934690138,0.4248030774867192)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BsAliOfJEeqmWsMJkdDOVQ" id="(0.3603691112190384,0.5233559259937717)"/>
    </edges>
    <edges xmi:id="_BsAliefJEeqmWsMJkdDOVQ" type="Transition" element="_Br_-c-fJEeqmWsMJkdDOVQ" source="_CYR10-fJEeqmWsMJkdDOVQ" target="_CYR1pefJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_BsAliufJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BsAli-fJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BsAljOfJEeqmWsMJkdDOVQ" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BsAljefJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BsAljufJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BsAlj-fJEeqmWsMJkdDOVQ" points="[-106, 26, 230, 36]$[-300, 26, 36, 36]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BsAlkOfJEeqmWsMJkdDOVQ" id="(0.7479358912093248,0.5321487451914271)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BsAlkefJEeqmWsMJkdDOVQ" id="(0.8642322710119321,0.4335958966843744)"/>
    </edges>
    <edges xmi:id="_BsAlkufJEeqmWsMJkdDOVQ" type="Transition" element="_Br_XcOfJEeqmWsMJkdDOVQ" source="_CYR1vefJEeqmWsMJkdDOVQ" target="_CYR1sefJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_BsAlk-fJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BsAllOfJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BsAllefJEeqmWsMJkdDOVQ" x="-2" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BsAllufJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BsAll-fJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BsAlmOfJEeqmWsMJkdDOVQ" points="[1, 26, 1, 26]$[1, 26, 1, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BsAlmefJEeqmWsMJkdDOVQ" id="(0.013513513513513514,0.639344262295082)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BsAlmufJEeqmWsMJkdDOVQ" id="(0.8783783783783784,0.7213114754098361)"/>
    </edges>
    <edges xmi:id="_BsAlm-fJEeqmWsMJkdDOVQ" type="Transition" element="_Br_-eefJEeqmWsMJkdDOVQ" source="_CYR10-fJEeqmWsMJkdDOVQ" target="_CYR1vefJEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_BsAlnOfJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BsAlnefJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BsAlnufJEeqmWsMJkdDOVQ" x="-1" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BsAln-fJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BsAloOfJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BsAloefJEeqmWsMJkdDOVQ" points="[10, 0, 648, 0]$[10, -26, 648, -26]$[-628, -26, 10, -26]$[-628, 0, 10, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BsAloufJEeqmWsMJkdDOVQ" id="(0.42857142857142855,0.009259259259259259)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BsAlo-fJEeqmWsMJkdDOVQ" id="(0.35135135135135137,0.01639344262295082)"/>
    </edges>
    <edges xmi:id="_ne6KAufJEeqmWsMJkdDOVQ" type="Transition" element="_ne3GxufJEeqmWsMJkdDOVQ" source="_JeApheiKEeqmWsMJkdDOVQ" target="_JeApj-iKEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ne6KA-fJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ne6KBOfJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ne6KBefJEeqmWsMJkdDOVQ"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ne6KBufJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ne6KB-fJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ne6KCOfJEeqmWsMJkdDOVQ" points="[0, 7, 17, -165]$[0, 38, 17, -134]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KCefJEeqmWsMJkdDOVQ" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KCufJEeqmWsMJkdDOVQ" id="(0.41625615763546797,0.9241379310344827)"/>
    </edges>
    <edges xmi:id="_ne6KC-fJEeqmWsMJkdDOVQ" type="Transition" element="_ne3G2ufJEeqmWsMJkdDOVQ" source="_JeApj-iKEeqmWsMJkdDOVQ" target="_JeApm-iKEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ne6KDOfJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ne6KDefJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ne6KDufJEeqmWsMJkdDOVQ" x="1" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ne6KD-fJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ne6KEOfJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ne6KEefJEeqmWsMJkdDOVQ" points="[46, -90, -212, -35]$[245, -90, -13, -35]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KEufJEeqmWsMJkdDOVQ" id="(0.7747657962926052,0.7773584905660378)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KE-fJEeqmWsMJkdDOVQ" id="(0.22965744850347103,0.7560160427807486)"/>
    </edges>
    <edges xmi:id="_ne6KFOfJEeqmWsMJkdDOVQ" type="Transition" element="_ne4U7efJEeqmWsMJkdDOVQ" source="_JeApp-iKEeqmWsMJkdDOVQ" target="_JeApj-iKEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ne6KFefJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ne6KFufJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ne6KF-fJEeqmWsMJkdDOVQ" x="-3" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ne6KGOfJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ne6KGefJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ne6KGufJEeqmWsMJkdDOVQ" points="[-2, -94, 257, -34]$[-198, -94, 61, -34]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KG-fJEeqmWsMJkdDOVQ" id="(0.0891089108910891,1.2367820858386893)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KHOfJEeqmWsMJkdDOVQ" id="(0.7025826475696915,1.0646714378659727)"/>
    </edges>
    <edges xmi:id="_ne6KHefJEeqmWsMJkdDOVQ" type="Transition" element="_ne48AOfJEeqmWsMJkdDOVQ" source="_JeAps-iKEeqmWsMJkdDOVQ" target="_wZWtoOlXEeqIrv8aRK61CA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ne6KHufJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ne6KH-fJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ne6KIOfJEeqmWsMJkdDOVQ" x="-9" y="19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ne6KIefJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ne6KIufJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ne6KI-fJEeqmWsMJkdDOVQ" points="[-21, 20, 185, -28]$[-206, 20, 0, -28]$[-206, 40, 0, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KJOfJEeqmWsMJkdDOVQ" id="(0.205570530098832,0.49913801360022986)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0qJ0cOlXEeqIrv8aRK61CA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_ne6KJufJEeqmWsMJkdDOVQ" type="Transition" element="_ne3tw-fJEeqmWsMJkdDOVQ" source="_JeApm-iKEeqmWsMJkdDOVQ" target="_JeAps-iKEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ne6KJ-fJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ne6KKOfJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ne6KKefJEeqmWsMJkdDOVQ" x="4" y="-21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ne6KKufJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ne6KK-fJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ne6KLOfJEeqmWsMJkdDOVQ" points="[56, -60, -395, -11]$[447, -60, -4, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KLefJEeqmWsMJkdDOVQ" id="(0.36030499601684307,0.5955882352941176)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KLufJEeqmWsMJkdDOVQ" id="(0.04504504504504504,0.08174297149550956)"/>
    </edges>
    <edges xmi:id="_ne6KOOfJEeqmWsMJkdDOVQ" type="Transition" element="_ne4U9-fJEeqmWsMJkdDOVQ" source="_JeAps-iKEeqmWsMJkdDOVQ" target="_JeApm-iKEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ne6KOefJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ne6KOufJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ne6KO-fJEeqmWsMJkdDOVQ" x="-4" y="21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ne6KPOfJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ne6KPefJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ne6KPufJEeqmWsMJkdDOVQ" points="[-1, -57, 433, -13]$[-392, -57, 42, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KP-fJEeqmWsMJkdDOVQ" id="(0.018688230008984726,0.4439708840149411)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KQOfJEeqmWsMJkdDOVQ" id="(0.5002845112097417,0.9565508021390374)"/>
    </edges>
    <edges xmi:id="_ne6KQefJEeqmWsMJkdDOVQ" type="Transition" element="_ne4U2ufJEeqmWsMJkdDOVQ" source="_JeApp-iKEeqmWsMJkdDOVQ" target="_JeAps-iKEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ne6KQufJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ne6KQ-fJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ne6KROfJEeqmWsMJkdDOVQ" x="4" y="-21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ne6KRefJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ne6KRufJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ne6KR-fJEeqmWsMJkdDOVQ" points="[10, -77, -392, -25]$[397, -77, -5, -25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KSOfJEeqmWsMJkdDOVQ" id="(0.8514851485148515,1.0476881608957083)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6KSefJEeqmWsMJkdDOVQ" id="(0.05606469002695418,0.48304760080452064)"/>
    </edges>
    <edges xmi:id="_ne6xEOfJEeqmWsMJkdDOVQ" type="Transition" element="_ne479-fJEeqmWsMJkdDOVQ" source="__aP20OiPEeqmWsMJkdDOVQ" target="_JeApv-iKEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ne6xEefJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ne6xEufJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ne6xE-fJEeqmWsMJkdDOVQ" x="10" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ne6xFOfJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ne6xFefJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ne6xFufJEeqmWsMJkdDOVQ" points="[6, 1, 264, -126]$[6, 22, 264, -105]$[-233, 22, 25, -105]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6xF-fJEeqmWsMJkdDOVQ" id="(0.06666666666666667,0.9333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6xGOfJEeqmWsMJkdDOVQ" id="(0.7532047941636268,0.8926480156148341)"/>
    </edges>
    <edges xmi:id="_ne6xGefJEeqmWsMJkdDOVQ" type="Transition" element="_ne48DOfJEeqmWsMJkdDOVQ" source="_JeApv-iKEeqmWsMJkdDOVQ" target="_JeAps-iKEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ne6xGufJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ne6xG-fJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ne6xHOfJEeqmWsMJkdDOVQ" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ne6xHefJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ne6xHufJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ne6xH-fJEeqmWsMJkdDOVQ" points="[57, -48, -401, -25]$[453, -48, -5, -25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6xIOfJEeqmWsMJkdDOVQ" id="(0.4436685773840542,0.8551724137931035)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6xIefJEeqmWsMJkdDOVQ" id="(0.05405405405405406,0.890439932318105)"/>
    </edges>
    <edges xmi:id="_ne6xIufJEeqmWsMJkdDOVQ" type="Transition" element="_ne5i8OfJEeqmWsMJkdDOVQ" source="_JeApv-iKEeqmWsMJkdDOVQ" target="_JeAps-iKEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ne6xI-fJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ne6xJOfJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ne6xJefJEeqmWsMJkdDOVQ" y="-21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ne6xJufJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ne6xJ-fJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ne6xKOfJEeqmWsMJkdDOVQ" points="[76, 2, -400, -3]$[472, 2, -4, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6xKefJEeqmWsMJkdDOVQ" id="(0.24762897342365814,0.8614183474300584)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6xKufJEeqmWsMJkdDOVQ" id="(0.04504504504504504,0.9606718143037583)"/>
    </edges>
    <edges xmi:id="_ne6xPefJEeqmWsMJkdDOVQ" type="Transition" element="_ne4U0-fJEeqmWsMJkdDOVQ" source="_JeApp-iKEeqmWsMJkdDOVQ" target="_JeApv-iKEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ne6xPufJEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ne6xP-fJEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ne6xQOfJEeqmWsMJkdDOVQ" y="106"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ne6xQefJEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ne6xQufJEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ne6xQ-fJEeqmWsMJkdDOVQ" points="[-29, -64, -27, -164]$[-56, -64, -54, -164]$[-56, 50, -54, -50]$[-29, 50, -27, -50]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6xROfJEeqmWsMJkdDOVQ" id="(0.2940163581575549,1.4358283226207755)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ne6xRefJEeqmWsMJkdDOVQ" id="(0.2733244478293983,0.8864020819778791)"/>
    </edges>
    <edges xmi:id="_cPCfkOiKEeqmWsMJkdDOVQ" type="Transition" element="_cPB4gOiKEeqmWsMJkdDOVQ" source="_JeApm-iKEeqmWsMJkdDOVQ" target="_JeAps-iKEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_cPDGoOiKEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cPDGoeiKEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cPDGouiKEeqmWsMJkdDOVQ" x="4" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cPCfkeiKEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cPCfk-iKEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cPCfkuiKEeqmWsMJkdDOVQ" points="[9, -41, -255, 22]$[271, -41, 7, 22]$[271, -60, 7, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cPEUwOiKEeqmWsMJkdDOVQ" id="(0.8269033799931718,0.7961229946524062)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cPEUweiKEeqmWsMJkdDOVQ" id="(0.07207207207207207,0.11394474814525576)"/>
    </edges>
    <edges xmi:id="_C8ICIOiQEeqmWsMJkdDOVQ" type="Transition" element="_C8HbEOiQEeqmWsMJkdDOVQ" source="__aP20OiPEeqmWsMJkdDOVQ" target="_JeApp-iKEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_C8IpMOiQEeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_C8IpMeiQEeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_C8IpMuiQEeqmWsMJkdDOVQ" x="7" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_C8ICIeiQEeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_C8ICI-iQEeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_C8ICIuiQEeqmWsMJkdDOVQ" points="[6, -6, 253, -15]$[6, -26, 253, -35]$[-233, -26, 14, -35]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_C8JQQOiQEeqmWsMJkdDOVQ" id="(0.06666666666666667,0.3333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_C8JQQeiQEeqmWsMJkdDOVQ" id="(0.865152819629789,1.1472112792867508)"/>
    </edges>
    <edges xmi:id="_ZGD4QOiREeqmWsMJkdDOVQ" type="Transition" element="_ZGCqIOiREeqmWsMJkdDOVQ" source="_JeAps-iKEeqmWsMJkdDOVQ" target="_wZWtoOlXEeqIrv8aRK61CA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZGD4ROiREeqmWsMJkdDOVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZGD4ReiREeqmWsMJkdDOVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZGD4RuiREeqmWsMJkdDOVQ" x="-9" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZGD4QeiREeqmWsMJkdDOVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZGD4Q-iREeqmWsMJkdDOVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZGD4QuiREeqmWsMJkdDOVQ" points="[-36, 77, 186, 35]$[-221, 77, 1, 35]$[-221, 56, 1, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZGFGYOiREeqmWsMJkdDOVQ" id="(0.34204604465985805,0.49913801360022986)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZGFtcOiREeqmWsMJkdDOVQ" id="(0.4,0.06666666666666667)"/>
    </edges>
    <edges xmi:id="_0PYkAOlXEeqIrv8aRK61CA" type="Transition" element="_0PXV4OlXEeqIrv8aRK61CA" source="_wZWtoOlXEeqIrv8aRK61CA" target="__aP20OiPEeqmWsMJkdDOVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_0PZyIOlXEeqIrv8aRK61CA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0PZyIelXEeqIrv8aRK61CA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0PZyIulXEeqIrv8aRK61CA" x="-3" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0PYkAelXEeqIrv8aRK61CA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0PZLEOlXEeqIrv8aRK61CA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0PYkAulXEeqIrv8aRK61CA" points="[-2, 1, 48, 2]$[-48, 1, 2, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0PbAQOlXEeqIrv8aRK61CA" id="(0.13333333333333333,0.4)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0PbAQelXEeqIrv8aRK61CA" id="(0.8,0.3333333333333333)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
