<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_KzeksN4jEeqoxMjXeuiunA" specification="@CycleBased(200)&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;internal:&#xA;var priority_level : integer&#xA;var stack_size : integer = 0&#xA;&#xA;event IRQ&#xA;event ret_from_int&#xA;&#xA;interface nvic:&#xA;var EN : boolean = false&#xA;var PEND : boolean = false&#xA;var ACTIVE : boolean = false&#xA;var PRI : integer = 0&#xA;&#xA;interface core:&#xA;var BASEPRI : integer = 0&#xA;var PRIMASK: integer = 0&#xA;" name="Interrupts">
    <regions xmi:id="_K0FosN4jEeqoxMjXeuiunA" name="cpu region">
      <vertices xsi:type="sgraph:State" xmi:id="_9F62QN4nEeqoxMjXeuiunA" specification="IRQ / nvic.PEND = true&#xD;&#xA;always / priority_level = (1 - core.PRIMASK) * (((core.BASEPRI - 1) &amp; 0xFF) + 1)" name="Core + NVIC" incomingTransitions="_M77FoN4oEeqoxMjXeuiunA">
        <regions xmi:id="_tiGxgObXEeqDApZyIp3Lvg" name="core state">
          <vertices xsi:type="sgraph:Entry" xmi:id="_xqotRObXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_xqotRebXEeqDApZyIp3Lvg" target="_xqpUMObXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_xqpUMObXEeqDApZyIp3Lvg" name="Privileged Thread Mode" incomingTransitions="_xqotRebXEeqDApZyIp3Lvg _xqsXjObXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_xqp7SObXEeqDApZyIp3Lvg" specification="[nvic.PEND &amp;&amp; nvic.EN &amp;&amp;&#xD;&#xA;(nvic.PRI &lt; priority_level)]" target="_xqqiUObXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_xqqiUObXEeqDApZyIp3Lvg" specification="" name="Stacking" incomingTransitions="_xqp7SObXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_xqqiU-bXEeqDApZyIp3Lvg" specification="after 2s / stack_size += 8;&#xD;&#xA;nvic.ACTIVE = true" target="_xqrJaebXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_xqrJaebXEeqDApZyIp3Lvg" specification="" name="Handler Mode" incomingTransitions="_xqqiU-bXEeqDApZyIp3Lvg _xqs-k-bXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_Alt4cObwEeqDApZyIp3Lvg" specification="ret_from_int" target="_bqs-MObvEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_xqsXgObXEeqDApZyIp3Lvg" name="Unstacking" incomingTransitions="_xqrweObXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_xqsXg-bXEeqDApZyIp3Lvg" specification="[nvic.PEND &amp;&amp; nvic.EN &amp;&amp;&#xD;&#xA;(nvic.PRI &lt; priority_level)]" target="_xqs-kObXEeqDApZyIp3Lvg"/>
            <outgoingTransitions xmi:id="_xqsXjObXEeqDApZyIp3Lvg" specification="after 2s / stack_size -= 8;&#xD;&#xA;nvic.ACTIVE = false" target="_xqpUMObXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_xqs-kObXEeqDApZyIp3Lvg" specification="" name="Tail-chaining" incomingTransitions="_xqsXg-bXEeqDApZyIp3Lvg _lYerEObvEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_xqs-k-bXEeqDApZyIp3Lvg" specification="after 1s /&#xD;&#xA;nvic.PEND = false " target="_xqrJaebXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_bqs-MObvEeqDApZyIp3Lvg" incomingTransitions="_Alt4cObwEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_lYerEObvEeqDApZyIp3Lvg" specification="[nvic.PEND &amp;&amp; nvic.EN &amp;&amp;&#xD;&#xA;(nvic.PRI &lt; priority_level)]" target="_xqs-kObXEeqDApZyIp3Lvg"/>
            <outgoingTransitions xmi:id="_xqrweObXEeqDApZyIp3Lvg" specification="else" target="_xqsXgObXEeqDApZyIp3Lvg"/>
          </vertices>
        </regions>
        <regions xmi:id="_2PHk8ObXEeqDApZyIp3Lvg" name="irq state">
          <vertices xsi:type="sgraph:State" xmi:id="_8c_ckubXEeqDApZyIp3Lvg" specification="entry&#xD;&#xA;/ nvic.PEND = false" name="Active" incomingTransitions="_8dBRq-bXEeqDApZyIp3Lvg _8dCfxebXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_8dADlObXEeqDApZyIp3Lvg" specification="[!nvic.ACTIVE]" target="_8dBRoObXEeqDApZyIp3Lvg"/>
            <outgoingTransitions xmi:id="_8dADnubXEeqDApZyIp3Lvg" specification="[nvic.PEND]" target="_8dCfwubXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_8dBRoObXEeqDApZyIp3Lvg" name="Inactive" incomingTransitions="_8dCfwebXEeqDApZyIp3Lvg _8dADlObXEeqDApZyIp3Lvg _8dB4wObXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_8dBRo-bXEeqDApZyIp3Lvg" specification="[nvic.PEND]" target="_8dBRqObXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_8dBRqObXEeqDApZyIp3Lvg" specification="" name="Pending" incomingTransitions="_8dBRo-bXEeqDApZyIp3Lvg _Qac8gObwEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_8dBRq-bXEeqDApZyIp3Lvg" specification="[nvic.ACTIVE]" target="_8c_ckubXEeqDApZyIp3Lvg"/>
            <outgoingTransitions xmi:id="_8dB4wObXEeqDApZyIp3Lvg" specification="[!nvic.PEND]" target="_8dBRoObXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_8dCfwObXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_8dCfwebXEeqDApZyIp3Lvg" specification="" target="_8dBRoObXEeqDApZyIp3Lvg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_8dCfwubXEeqDApZyIp3Lvg" name="Active and Pending" incomingTransitions="_8dADnubXEeqDApZyIp3Lvg">
            <outgoingTransitions xmi:id="_8dCfxebXEeqDApZyIp3Lvg" specification="[!nvic.PEND]" target="_8c_ckubXEeqDApZyIp3Lvg"/>
            <outgoingTransitions xmi:id="_Qac8gObwEeqDApZyIp3Lvg" specification="[!nvic.ACTIVE]" target="_8dBRqObXEeqDApZyIp3Lvg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_MZmbsN4oEeqoxMjXeuiunA">
        <outgoingTransitions xmi:id="_M77FoN4oEeqoxMjXeuiunA" specification="" target="_9F62QN4nEeqoxMjXeuiunA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_K0FBoN4jEeqoxMjXeuiunA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_KzeksN4jEeqoxMjXeuiunA" measurementUnit="Pixel">
    <children xmi:id="_K0LIQN4jEeqoxMjXeuiunA" type="Region" element="_K0FosN4jEeqoxMjXeuiunA">
      <children xsi:type="notation:DecorationNode" xmi:id="_K1WM8N4jEeqoxMjXeuiunA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_K1WM8d4jEeqoxMjXeuiunA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_K1WM8t4jEeqoxMjXeuiunA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_K1XbEN4jEeqoxMjXeuiunA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_9F8EYN4nEeqoxMjXeuiunA" type="State" element="_9F62QN4nEeqoxMjXeuiunA">
          <children xsi:type="notation:DecorationNode" xmi:id="_9F8rcN4nEeqoxMjXeuiunA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9F8rcd4nEeqoxMjXeuiunA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_9F8rct4nEeqoxMjXeuiunA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9F8rc94nEeqoxMjXeuiunA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_9F8rdN4nEeqoxMjXeuiunA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9F8rdd4nEeqoxMjXeuiunA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9F9SgN4nEeqoxMjXeuiunA" type="StateFigureCompartment">
            <children xmi:id="_tikEgObXEeqDApZyIp3Lvg" type="Region" element="_tiGxgObXEeqDApZyIp3Lvg">
              <children xsi:type="notation:DecorationNode" xmi:id="_tikrkObXEeqDApZyIp3Lvg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_tikrkebXEeqDApZyIp3Lvg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_tikrkubXEeqDApZyIp3Lvg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_tikrk-bXEeqDApZyIp3Lvg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_xqnfAObXEeqDApZyIp3Lvg" type="Entry" element="_xqotRObXEeqDApZyIp3Lvg">
                  <children xmi:id="_xqnfAebXEeqDApZyIp3Lvg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_xqnfAubXEeqDApZyIp3Lvg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_xqnfA-bXEeqDApZyIp3Lvg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_xqnfBObXEeqDApZyIp3Lvg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_xqnfBebXEeqDApZyIp3Lvg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xqnfBubXEeqDApZyIp3Lvg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_xqnfB-bXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_xqnfCObXEeqDApZyIp3Lvg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xqnfCebXEeqDApZyIp3Lvg" x="43" y="69"/>
                </children>
                <children xmi:id="_xqoGEObXEeqDApZyIp3Lvg" type="State" element="_xqpUMObXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_xqoGEebXEeqDApZyIp3Lvg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_xqoGEubXEeqDApZyIp3Lvg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_xqoGE-bXEeqDApZyIp3Lvg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xqoGFObXEeqDApZyIp3Lvg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_xqoGFebXEeqDApZyIp3Lvg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xqoGFubXEeqDApZyIp3Lvg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xqoGF-bXEeqDApZyIp3Lvg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_xqoGGObXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_xqoGGebXEeqDApZyIp3Lvg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xqoGGubXEeqDApZyIp3Lvg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xqoGG-bXEeqDApZyIp3Lvg" x="133" y="52" width="175" height="55"/>
                </children>
                <children xmi:id="_xqoGHObXEeqDApZyIp3Lvg" type="State" element="_xqqiUObXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_xqoGHebXEeqDApZyIp3Lvg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_xqoGHubXEeqDApZyIp3Lvg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_xqoGH-bXEeqDApZyIp3Lvg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xqoGIObXEeqDApZyIp3Lvg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_xqoGIebXEeqDApZyIp3Lvg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xqoGIubXEeqDApZyIp3Lvg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xqoGI-bXEeqDApZyIp3Lvg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_xqoGJObXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_xqoGJebXEeqDApZyIp3Lvg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xqoGJubXEeqDApZyIp3Lvg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xqoGJ-bXEeqDApZyIp3Lvg" x="449" y="3" width="84" height="55"/>
                </children>
                <children xmi:id="_xqotIObXEeqDApZyIp3Lvg" type="State" element="_xqrJaebXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_xqotIebXEeqDApZyIp3Lvg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_xqotIubXEeqDApZyIp3Lvg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_xqotI-bXEeqDApZyIp3Lvg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xqotJObXEeqDApZyIp3Lvg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_xqotJebXEeqDApZyIp3Lvg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xqotJubXEeqDApZyIp3Lvg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xqotJ-bXEeqDApZyIp3Lvg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_xqotKObXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_xqotKebXEeqDApZyIp3Lvg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xqotKubXEeqDApZyIp3Lvg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xqotK-bXEeqDApZyIp3Lvg" x="757" y="3" width="176" height="55"/>
                </children>
                <children xmi:id="_xqotLObXEeqDApZyIp3Lvg" type="State" element="_xqsXgObXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_xqotLebXEeqDApZyIp3Lvg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_xqotLubXEeqDApZyIp3Lvg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_xqotL-bXEeqDApZyIp3Lvg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xqotMObXEeqDApZyIp3Lvg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_xqotMebXEeqDApZyIp3Lvg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xqotMubXEeqDApZyIp3Lvg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xqotM-bXEeqDApZyIp3Lvg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_xqotNObXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_xqotNebXEeqDApZyIp3Lvg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xqotNubXEeqDApZyIp3Lvg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xqotN-bXEeqDApZyIp3Lvg" x="445" y="110"/>
                </children>
                <children xmi:id="_xqotOObXEeqDApZyIp3Lvg" type="State" element="_xqs-kObXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_xqotOebXEeqDApZyIp3Lvg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_xqotOubXEeqDApZyIp3Lvg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_xqotO-bXEeqDApZyIp3Lvg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xqotPObXEeqDApZyIp3Lvg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_xqotPebXEeqDApZyIp3Lvg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xqotPubXEeqDApZyIp3Lvg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xqotP-bXEeqDApZyIp3Lvg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_xqotQObXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_xqotQebXEeqDApZyIp3Lvg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xqotQubXEeqDApZyIp3Lvg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xqotQ-bXEeqDApZyIp3Lvg" x="757" y="219" width="176" height="55"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_bquMUObvEeqDApZyIp3Lvg" type="Choice" element="_bqs-MObvEeqDApZyIp3Lvg" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bquMUebvEeqDApZyIp3Lvg" x="799" y="126"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tilSoObXEeqDApZyIp3Lvg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_tikEgebXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tikEgubXEeqDApZyIp3Lvg"/>
            </children>
            <children xmi:id="_2PIMAObXEeqDApZyIp3Lvg" type="Region" element="_2PHk8ObXEeqDApZyIp3Lvg">
              <children xsi:type="notation:DecorationNode" xmi:id="_2PIzEObXEeqDApZyIp3Lvg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_2PIzEebXEeqDApZyIp3Lvg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_2PIzEubXEeqDApZyIp3Lvg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_2PIzE-bXEeqDApZyIp3Lvg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_8c-1YebXEeqDApZyIp3Lvg" type="State" element="_8c_ckubXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_8c-1YubXEeqDApZyIp3Lvg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8c-1Y-bXEeqDApZyIp3Lvg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_8c-1ZObXEeqDApZyIp3Lvg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8c-1ZebXEeqDApZyIp3Lvg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_8c-1ZubXEeqDApZyIp3Lvg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8c-1Z-bXEeqDApZyIp3Lvg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8c-1aObXEeqDApZyIp3Lvg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8c-1aebXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_8c-1aubXEeqDApZyIp3Lvg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8c-1a-bXEeqDApZyIp3Lvg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8c-1bObXEeqDApZyIp3Lvg" x="45" y="36" width="149" height="108"/>
                </children>
                <children xmi:id="_8c-1bebXEeqDApZyIp3Lvg" type="State" element="_8dBRoObXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_8c-1bubXEeqDApZyIp3Lvg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8c-1b-bXEeqDApZyIp3Lvg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_8c-1cObXEeqDApZyIp3Lvg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8c-1cebXEeqDApZyIp3Lvg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_8c-1cubXEeqDApZyIp3Lvg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8c-1c-bXEeqDApZyIp3Lvg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8c-1dObXEeqDApZyIp3Lvg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8c-1debXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_8c-1dubXEeqDApZyIp3Lvg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8c-1d-bXEeqDApZyIp3Lvg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8c-1eObXEeqDApZyIp3Lvg" x="-481" y="36" width="74" height="61"/>
                </children>
                <children xmi:id="_8c_ccObXEeqDApZyIp3Lvg" type="State" element="_8dBRqObXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_8c_ccebXEeqDApZyIp3Lvg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8c_ccubXEeqDApZyIp3Lvg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_8c_cc-bXEeqDApZyIp3Lvg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8c_cdObXEeqDApZyIp3Lvg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_8c_cdebXEeqDApZyIp3Lvg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8c_cdubXEeqDApZyIp3Lvg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8c_cd-bXEeqDApZyIp3Lvg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8c_ceObXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_8c_ceebXEeqDApZyIp3Lvg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8c_ceubXEeqDApZyIp3Lvg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8c_ce-bXEeqDApZyIp3Lvg" x="-219" y="36" width="74" height="61"/>
                </children>
                <children xmi:id="_8c_cfObXEeqDApZyIp3Lvg" type="Entry" element="_8dCfwObXEeqDApZyIp3Lvg">
                  <children xmi:id="_8c_cfebXEeqDApZyIp3Lvg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_8c_cfubXEeqDApZyIp3Lvg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_8c_cf-bXEeqDApZyIp3Lvg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_8c_cgObXEeqDApZyIp3Lvg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8c_cgebXEeqDApZyIp3Lvg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8c_cgubXEeqDApZyIp3Lvg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8c_cg-bXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_8c_chObXEeqDApZyIp3Lvg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8c_chebXEeqDApZyIp3Lvg" x="-454" y="3"/>
                </children>
                <children xmi:id="_8c_chubXEeqDApZyIp3Lvg" type="State" element="_8dCfwubXEeqDApZyIp3Lvg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_8c_ch-bXEeqDApZyIp3Lvg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_8c_ciObXEeqDApZyIp3Lvg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_8c_ciebXEeqDApZyIp3Lvg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8c_ciubXEeqDApZyIp3Lvg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_8c_ci-bXEeqDApZyIp3Lvg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8c_cjObXEeqDApZyIp3Lvg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_8c_cjebXEeqDApZyIp3Lvg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_8c_cjubXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_8c_cj-bXEeqDApZyIp3Lvg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8c_ckObXEeqDApZyIp3Lvg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8c_ckebXEeqDApZyIp3Lvg" x="383" y="36" width="147" height="108"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2PIzFObXEeqDApZyIp3Lvg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_2PIMAebXEeqDApZyIp3Lvg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2PIMAubXEeqDApZyIp3Lvg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9F8EYd4nEeqoxMjXeuiunA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_9F8EYt4nEeqoxMjXeuiunA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9F9Sgd4nEeqoxMjXeuiunA" name="isHorizontal"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9F8EY94nEeqoxMjXeuiunA" x="1" y="50" width="1051" height="565"/>
        </children>
        <children xmi:id="_MZmbsd4oEeqoxMjXeuiunA" type="Entry" element="_MZmbsN4oEeqoxMjXeuiunA">
          <children xmi:id="_MZnCwN4oEeqoxMjXeuiunA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_MZnCw94oEeqoxMjXeuiunA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_MZnCxN4oEeqoxMjXeuiunA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_MZnCxd4oEeqoxMjXeuiunA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MZnCwd4oEeqoxMjXeuiunA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZnCwt4oEeqoxMjXeuiunA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MZmbst4oEeqoxMjXeuiunA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_MZmbs94oEeqoxMjXeuiunA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZmbtN4oEeqoxMjXeuiunA" x="44" y="14" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K1XbEd4jEeqoxMjXeuiunA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_K0LIQd4jEeqoxMjXeuiunA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K1YCIN4jEeqoxMjXeuiunA" x="30" y="12" width="1076" height="685"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_K1wcoN4jEeqoxMjXeuiunA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_K1wcot4jEeqoxMjXeuiunA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_K1wco94jEeqoxMjXeuiunA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_K1wcpN4jEeqoxMjXeuiunA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_K1xDsN4jEeqoxMjXeuiunA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K1xDsd4jEeqoxMjXeuiunA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K1xDst4jEeqoxMjXeuiunA" x="10" y="10" width="200" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_91-JIeb5EeqDApZyIp3Lvg" type="Note" fontName="Verdana" description="Saving registers is simulated by &quot;stack_size += 8&quot; (hardware) when entering Handler Mode&#xD;&#xA;Restoring registers is simulated by &quot;stack_size -= 8&quot; (hardware) when entering Thread Mode" fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
      <children xsi:type="notation:BasicDecorationNode" xmi:id="_91-JIub5EeqDApZyIp3Lvg" type="DiagramName">
        <element xsi:nil="true"/>
      </children>
      <children xsi:type="notation:BasicDecorationNode" xmi:id="_91-JI-b5EeqDApZyIp3Lvg" type="Description">
        <element xsi:nil="true"/>
      </children>
      <styles xsi:type="notation:TextStyle" xmi:id="_91-JJOb5EeqDApZyIp3Lvg"/>
      <styles xsi:type="notation:LineTypeStyle" xmi:id="_91-JJeb5EeqDApZyIp3Lvg"/>
      <element xsi:nil="true"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_91-JJub5EeqDApZyIp3Lvg" x="30" y="708" width="817" height="61"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_K0FBod4jEeqoxMjXeuiunA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_K0FBot4jEeqoxMjXeuiunA"/>
    <edges xmi:id="_M77ssN4oEeqoxMjXeuiunA" type="Transition" element="_M77FoN4oEeqoxMjXeuiunA" source="_MZmbsd4oEeqoxMjXeuiunA" target="_9F8EYN4nEeqoxMjXeuiunA">
      <children xsi:type="notation:DecorationNode" xmi:id="_M78TwN4oEeqoxMjXeuiunA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M78Twd4oEeqoxMjXeuiunA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M78Twt4oEeqoxMjXeuiunA"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M77ssd4oEeqoxMjXeuiunA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M77ss94oEeqoxMjXeuiunA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M77sst4oEeqoxMjXeuiunA" points="[2, 11, -266, -525]$[2, 33, -266, -503]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M7860N4oEeqoxMjXeuiunA" id="(0.3333333333333333,0.2)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M7860d4oEeqoxMjXeuiunA" id="(0.3021186162892107,0.901396802972349)"/>
    </edges>
    <edges xmi:id="_xqtloObXEeqDApZyIp3Lvg" type="Transition" element="_xqotRebXEeqDApZyIp3Lvg" source="_xqnfAObXEeqDApZyIp3Lvg" target="_xqoGEObXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xqtloebXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xqtloubXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xqtlo-bXEeqDApZyIp3Lvg"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xqtlpObXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xqtlpebXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xqtlpubXEeqDApZyIp3Lvg" points="[7, 0, -160, 22]$[85, 0, -82, 22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xqtlp-bXEeqDApZyIp3Lvg" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xqtlqObXEeqDApZyIp3Lvg" id="(0.4855491329479768,0.05433962264150944)"/>
    </edges>
    <edges xmi:id="_xqtlqebXEeqDApZyIp3Lvg" type="Transition" element="_xqp7SObXEeqDApZyIp3Lvg" source="_xqoGEObXEeqDApZyIp3Lvg" target="_xqoGHObXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xqtlqubXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xqtlq-bXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xqtlrObXEeqDApZyIp3Lvg" x="15" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xqtlrebXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xqtlrubXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xqtlr-bXEeqDApZyIp3Lvg" points="[-50, -1, -235, 26]$[-50, -26, -235, 1]$[182, -26, -3, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xqtlsObXEeqDApZyIp3Lvg" id="(0.7883032981978919,0.036226415094339624)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xqtlsebXEeqDApZyIp3Lvg" id="(0.047619047619047616,0.4727272727272727)"/>
    </edges>
    <edges xmi:id="_xqtlsubXEeqDApZyIp3Lvg" type="Transition" element="_xqqiU-bXEeqDApZyIp3Lvg" source="_xqoGHObXEeqDApZyIp3Lvg" target="_xqotIObXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xqtls-bXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xqtltObXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xqtltebXEeqDApZyIp3Lvg" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xqtltubXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xqtlt-bXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xqtluObXEeqDApZyIp3Lvg" points="[46, 0, -335, 24]$[344, 0, -37, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xqtluebXEeqDApZyIp3Lvg" id="(0.4177215189873418,0.48)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xqtluubXEeqDApZyIp3Lvg" id="(0.2186020607073239,0.018113207547169812)"/>
    </edges>
    <edges xmi:id="_xquMsObXEeqDApZyIp3Lvg" type="Transition" element="_xqrweObXEeqDApZyIp3Lvg" source="_bquMUObvEeqDApZyIp3Lvg" target="_xqotLObXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xquMsebXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xquMsubXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xquMs-bXEeqDApZyIp3Lvg" x="3" y="8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xquMtObXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xquMtebXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xquMtubXEeqDApZyIp3Lvg" points="[-1, -2, 290, -5]$[-278, -2, 13, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xquMt-bXEeqDApZyIp3Lvg" id="(0.06666666666666667,0.6)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xquMuObXEeqDApZyIp3Lvg" id="(0.850574712643678,0.5849056603773585)"/>
    </edges>
    <edges xmi:id="_xquMuebXEeqDApZyIp3Lvg" type="Transition" element="_xqsXjObXEeqDApZyIp3Lvg" source="_xqotLObXEeqDApZyIp3Lvg" target="_xqoGEObXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xquMuubXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xquMu-bXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xquMvObXEeqDApZyIp3Lvg" x="-21" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xquMvebXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xquMvubXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xquMv-bXEeqDApZyIp3Lvg" points="[-40, 17, 306, 42]$[-268, 17, 78, 42]$[-268, -12, 78, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xquMwObXEeqDApZyIp3Lvg" id="(0.45977011494252873,0.09433962264150945)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xquMwebXEeqDApZyIp3Lvg" id="(0.039986399183951034,0.7426415094339623)"/>
    </edges>
    <edges xmi:id="_xquMy-bXEeqDApZyIp3Lvg" type="Transition" element="_xqs-k-bXEeqDApZyIp3Lvg" source="_xqotOObXEeqDApZyIp3Lvg" target="_xqotIObXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xquMzObXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xquMzebXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xquMzubXEeqDApZyIp3Lvg" x="2" y="64"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xquMz-bXEeqDApZyIp3Lvg" routing="Rectilinear" closestDistance="true" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xquM0ObXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xquM0ebXEeqDApZyIp3Lvg" points="[161, -6, 127, 178]$[161, -172, 127, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xquM0ubXEeqDApZyIp3Lvg" id="(-0.19989755410423865,0.12727272727272726)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xquM0-bXEeqDApZyIp3Lvg" id="(-0.004177109440267341,0.7788679245283019)"/>
    </edges>
    <edges xmi:id="_xquM3ebXEeqDApZyIp3Lvg" type="Transition" element="_xqsXg-bXEeqDApZyIp3Lvg" source="_xqotLObXEeqDApZyIp3Lvg" target="_xqotOObXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xquM3ubXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xquM3-bXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xquM4ObXEeqDApZyIp3Lvg" x="43" y="21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xquM4ebXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xquzwObXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xquzwebXEeqDApZyIp3Lvg" points="[-5, 9, -270, -89]$[-5, 94, -270, -4]$[264, 94, -1, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xquzwubXEeqDApZyIp3Lvg" id="(0.5517241379310345,0.8301886792452832)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xquzw-bXEeqDApZyIp3Lvg" id="(0.011363636363636364,0.5636363636363636)"/>
    </edges>
    <edges xmi:id="_8dDG0ObXEeqDApZyIp3Lvg" type="Transition" element="_8dCfwebXEeqDApZyIp3Lvg" source="_8c_cfObXEeqDApZyIp3Lvg" target="_8c-1bebXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDG0ebXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDG0ubXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDG0-bXEeqDApZyIp3Lvg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDG1ObXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDG1ebXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDG1ubXEeqDApZyIp3Lvg" points="[-5, 5, 1, -51]$[-5, 29, 1, -27]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG1-bXEeqDApZyIp3Lvg" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG2ObXEeqDApZyIp3Lvg" id="(0.4855072463768116,0.48214285714285715)"/>
    </edges>
    <edges xmi:id="_8dDG2ebXEeqDApZyIp3Lvg" type="Transition" element="_8dBRo-bXEeqDApZyIp3Lvg" source="_8c-1bebXEeqDApZyIp3Lvg" target="_8c_ccObXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDG2ubXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDG2-bXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDG3ObXEeqDApZyIp3Lvg" x="-2" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDG3ebXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDG3ubXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDG3-bXEeqDApZyIp3Lvg" points="[12, -9, -193, -16]$[205, -9, 0, -16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG4ObXEeqDApZyIp3Lvg" id="(0.8361513687600645,0.47405660377358494)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG4ebXEeqDApZyIp3Lvg" id="(0.013486312399355877,0.5956873315363883)"/>
    </edges>
    <edges xmi:id="_8dDG4ubXEeqDApZyIp3Lvg" type="Transition" element="_8dBRq-bXEeqDApZyIp3Lvg" source="_8c_ccObXEeqDApZyIp3Lvg" target="_8c-1YebXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDG4-bXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDG5ObXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDG5ebXEeqDApZyIp3Lvg" x="-1" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDG5ubXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDG5-bXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDG6ObXEeqDApZyIp3Lvg" points="[11, -2, -107, -1]$[104, -2, -14, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG6ebXEeqDApZyIp3Lvg" id="(0.8496376811594203,0.5309973045822103)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG6ubXEeqDApZyIp3Lvg" id="(0.1012241054613936,0.27532515112657996)"/>
    </edges>
    <edges xmi:id="_8dDG6-bXEeqDApZyIp3Lvg" type="Transition" element="_8dADlObXEeqDApZyIp3Lvg" source="_8c-1YebXEeqDApZyIp3Lvg" target="_8c-1bebXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDG7ObXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDG7ebXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDG7ubXEeqDApZyIp3Lvg" x="-16" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDG7-bXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDG8ObXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDG8ebXEeqDApZyIp3Lvg" points="[-66, 32, 496, 33]$[-556, 32, 6, 33]$[-556, 8, 6, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG8ubXEeqDApZyIp3Lvg" id="(0.4588826114249843,0.4687671734749954)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDG8-bXEeqDApZyIp3Lvg" id="(0.44504830917874394,0.846024258760108)"/>
    </edges>
    <edges xmi:id="_8dDt4ObXEeqDApZyIp3Lvg" type="Transition" element="_8dADnubXEeqDApZyIp3Lvg" source="_8c-1YebXEeqDApZyIp3Lvg" target="_8c_chubXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDt4ebXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDt4ubXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDt4-bXEeqDApZyIp3Lvg" x="-3" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDt5ObXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDt5ebXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDt5ubXEeqDApZyIp3Lvg" points="[89, -16, -245, -26]$[283, -16, -51, -26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDt5-bXEeqDApZyIp3Lvg" id="(0.38465160075329563,0.4248030774867192)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDt6ObXEeqDApZyIp3Lvg" id="(0.3603691112190384,0.5233559259937717)"/>
    </edges>
    <edges xmi:id="_8dDt6ebXEeqDApZyIp3Lvg" type="Transition" element="_8dCfxebXEeqDApZyIp3Lvg" source="_8c_chubXEeqDApZyIp3Lvg" target="_8c-1YebXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDt6ubXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDt6-bXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDt7ObXEeqDApZyIp3Lvg" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDt7ebXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDt7ubXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDt7-bXEeqDApZyIp3Lvg" points="[-106, 26, 230, 36]$[-300, 26, 36, 36]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDt8ObXEeqDApZyIp3Lvg" id="(0.7479358912093248,0.5321487451914271)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDt8ebXEeqDApZyIp3Lvg" id="(0.755806654111739,0.4335958966843744)"/>
    </edges>
    <edges xmi:id="_8dDt8ubXEeqDApZyIp3Lvg" type="Transition" element="_8dB4wObXEeqDApZyIp3Lvg" source="_8c_ccObXEeqDApZyIp3Lvg" target="_8c-1bebXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8dDt8-bXEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8dDt9ObXEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8dDt9ebXEeqDApZyIp3Lvg" x="-2" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8dDt9ubXEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8dDt9-bXEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8dDt-ObXEeqDApZyIp3Lvg" points="[1, 26, 1, 26]$[1, 26, 1, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDt-ebXEeqDApZyIp3Lvg" id="(0.013513513513513514,0.639344262295082)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8dDt-ubXEeqDApZyIp3Lvg" id="(0.8783783783783784,0.7213114754098361)"/>
    </edges>
    <edges xmi:id="_lYf5MObvEeqDApZyIp3Lvg" type="Transition" element="_lYerEObvEeqDApZyIp3Lvg" source="_bquMUObvEeqDApZyIp3Lvg" target="_xqotOObXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_lYf5NObvEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lYf5NebvEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lYf5NubvEeqDApZyIp3Lvg" y="87"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lYf5MebvEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lYf5M-bvEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lYf5MubvEeqDApZyIp3Lvg" points="[2, 2, -22, -88]$[2, 80, -22, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lYhuYObvEeqDApZyIp3Lvg" id="(0.3333333333333333,0.8666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lYhuYebvEeqDApZyIp3Lvg" id="(0.4204545454545455,0.2)"/>
    </edges>
    <edges xmi:id="_AlufgObwEeqDApZyIp3Lvg" type="Transition" element="_Alt4cObwEeqDApZyIp3Lvg" source="_xqotIObXEeqDApZyIp3Lvg" target="_bquMUObvEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_AlufhObwEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AlufhebwEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AlufhubwEeqDApZyIp3Lvg" x="2" y="46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AlufgebwEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Alufg-bwEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AlufgubwEeqDApZyIp3Lvg" points="[-68, 10, 1, -67]$[-68, 73, 1, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AlvtoObwEeqDApZyIp3Lvg" id="(0.6875,0.8181818181818182)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AlvtoebwEeqDApZyIp3Lvg" id="(0.4,0.2)"/>
    </edges>
    <edges xmi:id="_QadjkObwEeqDApZyIp3Lvg" type="Transition" element="_Qac8gObwEeqDApZyIp3Lvg" source="_8c_chubXEeqDApZyIp3Lvg" target="_8c_ccObXEeqDApZyIp3Lvg">
      <children xsi:type="notation:DecorationNode" xmi:id="_QadjlObwEeqDApZyIp3Lvg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QadjlebwEeqDApZyIp3Lvg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QadjlubwEeqDApZyIp3Lvg" x="-1" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QadjkebwEeqDApZyIp3Lvg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Qadjk-bwEeqDApZyIp3Lvg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QadjkubwEeqDApZyIp3Lvg" points="[10, 0, 648, 0]$[10, -33, 648, -33]$[-628, -33, 10, -33]$[-628, 0, 10, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QaexsObwEeqDApZyIp3Lvg" id="(0.42857142857142855,0.009259259259259259)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QaexsebwEeqDApZyIp3Lvg" id="(0.35135135135135137,0.01639344262295082)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
